.THIS .errorClose{
    float: right;
    color: aliceblue;
    padding-top : 3px;
    padding-right : 3px;
}
.THIS .slds-button{
    padding-right : 4px;
    padding-left : 4px;
}
.THIS .searchBox{
	padding-left: 3px;
    padding-right: 3px;
}