.THIS.customSize {
   width: 50px;
   height: 50px;
}

.THIS .slds-progress-ring__path{
    fill:#830065; /*IQVIA technology color */
}

.THIS .slds-progress-ring_complete{
    fill:#830065; /*IQVIA technology color */
}