.THIS .customIcon {
    float:right;
    height:15px;
}
.THIS .form-element__help {
    color :red;
    padding: 2px;
}
.THIS .slds-form-element__help{
    color :red;
}
.THIS .customMargin{
    margin-top: 8px;
}
.THIS .uiPanel--default  {
    position: relative;
    max-width: 300px;
    align-content: center;
}
.THIS .genericNotification {
    text-align: left;
}
.THIS .slds-button__icon:hover {
    fill: rgb(0, 112, 210) !IMPORTANT ;
}
.THIS .slds-button__icon {
    fill: rgb(236, 235, 234) ;
}
.THIS .slds-form-element:hover .slds-button__icon{
    fill: #56585b !IMPORTANT ;
}
.THIS .slds-form-element__control{
   word-wrap: break-word;
}