.THIS p{
    text-align: center;
}

.THIS .slds-progress-ring__path{
    fill:#830065; /*IQVIA technology color */
}

.THIS .customBtn {
    transform: translate(0px, -50px);
    border: none !important;
}

.THIS.reduceMargin{
	margin-top: -30px;
}

.THIS.clearMargin{
	margin-top: 0px;
}