.THIS .field_form .slds-listbox__option:nth-of-type(1){
    display:none;
}
.THIS .slds-notify_container .slds-text-heading_small{
    display:none;
}
.THIS .slds-notify_container p{
    font-size: 14px;
}
.THIS .slds-notify_container{
    z-index: 0 !important;
}
.THIS .slds-notify_toast{
    padding-left: 15%;
}
.THIS .field_form .slds-gutters_small:nth-of-type(1){
    display:none;
}