.THIS .slds-icon-standard-service-report {
    background-color: #065280;
}

.THIS .reportLink:hover {
    text-decoration: none;
}

.THIS .reportLink {
    width: 100%;
    color: #000;
}

.THIS .reportLink:hover {
    text-decoration: none;
}

.THIS .slds-truncate {
    white-space: normal;
}