.THIS .customImageSize {
    width: 5rem;
    height: 5rem;
}

.THIS .slds-text-heading_small{
    color: #830065;
}

.THIS .slds-visual-picker_medium .slds-visual-picker__figure {
    width: 10rem;
    height: 10rem;
    background-color: rgb(242,229,239);
    border: 2px solid #830065;
}

.THIS .hover-blue-border:hover {
    border: 4px solid #830065;
    /*box-shadow: 4px 4px 5px grey; */
}

/*START*/
/* For IE only*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .THIS .ieCustom {
        width: 500px;
    }
    
    .THIS .slds-visual-picker__body {
        width: auto;
        white-space: nowrap;
        margin-left: -6px;
    }
    
    .THIS .customIEMod {
        text-align: left;
    }
}
/*END*/

@media only screen and (max-width: 800px) {
    .THIS .customImageSize {
        width: 2rem;
        height: 2rem;
    }
    
    .THIS .mobileFontSize {
        font-size: 0.7rem;
    }
    
    .THIS .slds-visual-picker_medium .slds-visual-picker__figure {
        width: 6.5rem;
        height: 6.5rem;
    }
    
    .THIS label .slds-visual-picker__body {
        width:120px;
        height: 20px;
        padding-top: 5px;
    }
}