<apex:page standardController="ProcessInstanceWorkItem"
    extensions="ApprovalItems" sidebar="{!isShowsidebar}"
    showHeader="{!isShowHeader}">
     <!-- Dilip for Case -00280089 31-Jan-2017 start -->
    <c:JQueryBlockUI />
    <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.4.4.min.js')}"/>
     <!-- Dilip for Case -00280089 31-Jan-2017 end -->
    <!-- <apex:sectionHeader title="Items to Approve" subtitle=" k">
    
        <apex:form >
            <apex:selectList value="{!ProcessInstanceWorkItem.filterId}" size="1">
                <apex:actionSupport event="onchange" rerender="list"/>
                <apex:selectOptions value="{!listviewoptions}"/>
            </apex:selectList>-->
    <apex:form >
       <!-- Dilip for Case -00280089 31-Jan-2017 start -->
       <input type="hidden" id="refreshed" value="no"/>
        <script>
            var j$ = jQuery.noConflict();
            var checkallValue;
            onload=function(){
                var e=document.getElementById("refreshed");
                if(e.value=="no")e.value="yes";
                else{e.value="no";location.reload();}
            }  
            function checkAll(cb) {
                var inputElem = document.getElementsByTagName("input");
                var isCheckBoxShow=false;
                for(var i=0; i<inputElem.length; i++) {             
                    if(inputElem[i].id.indexOf("selectItem")!=-1)
                        {          
                            inputElem[i].checked = cb.checked;
                            isCheckBoxShow=true;
                        }      
                }
                if(!isCheckBoxShow)
                {
                    cb.checked =false; 
                }
                return false;
            }
            function checkUncheckHeader(cb) {
                var checkBoxallId;
                var isCheckboxVisible = false;
                var inputElem = document.getElementsByTagName("input");
                var isAllchecked=true;
                for(var i=0; i<inputElem.length; i++) {             
                    if(inputElem[i].id.indexOf("selectItem")!=-1)
                    {
                        isCheckboxVisible = true;
                        if(!inputElem[i].checked)
                        {
                            isAllchecked=false;
                        }         
                    }     
                }
                 if(!isCheckboxVisible)
                 {
                     isAllchecked=false;                    
                 }
                inputElem = document.getElementsByTagName("input");
                for(var i=0; i<inputElem.length; i++) {
                    if(inputElem[i].id.indexOf("CheckboxItemToApprove")!=-1)
                    {
                        inputElem[i].checked = isAllchecked;                            
                    }                    
                }
                return false;
            }
        </script>
        
        <!-- Dilip for Case -00280089 31-Jan-2017 end -->   
        <div class="bRelatedList" id="PendingProcessWorkitemsList">
       
            <div class="listRelatedObject homeBlock">
                <div class="bPageBlock secondaryPalette">
                    <div class="pbHeader">
                     
                        <table>
                            
                            <tr>
                                <td class="pbTitle"><img src="/s.gif" alt=""
                                    class="minWidth" title="" width="1" height="1" /> <img
                                    src="/s.gif" alt="" class="relatedListIcon" title="" />
                                <h3 id="PendingProcessWorkitemsList_title">Items to Approve</h3></td>
                                <td class="pbButton"><apex:outputPanel rendered="{!!isShowsidebar}">
                                        <input value="Manage All" class="btn" name="manageAll"
                                            onclick="top.window.location = '/apex/ApprovalItems?isShowHeader=true&isShowsidebar=true'"
                                            title="Manage All" type="button" /> &nbsp;&nbsp;&nbsp;&nbsp; 
           </apex:outputPanel> <!--<apex:commandButton value="Manage All" action="{!ManageAll}" /> &nbsp;&nbsp;&nbsp;&nbsp;  -->
                                    <apex:commandButton value="Reassign" action="{!ReassignPage}" />&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:commandButton value="Approve / Reject"
                                        action="{!ApproveRejectPage}" /></td>
                                <td class="pbHelp"><span class="help"
                                    title="Items to Approve Help (New Window)"><a
                                        href="javascript:openPopupFocusEscapePounds(%27/help/doc/user_ed.jsp?loc=help&amp;target=approvals_my_pending.htm&amp;section=Dev_Tools%27, %27Help%27, 700, 600, %27width=700,height=600,resizable=yes,toolbar=yes,status=no,scrollbars=yes,menubar=yes,directories=no,location=no,dependant=no%27, false, false);"
                                        class="linkCol"><span class="linkSpan">Items to
                                                Approve Help</span> <img src="/s.gif"
                                            alt="Items to Approve Help (New Window)" class="helpIcon"
                                            title="Items to Approve Help (New Window)" /></a></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--<apex:form> -->

        <!-- <table align="left">
            <tr><td align="left">
            <h3>Items to Approve</h3>
            </td></tr></table>
            <table align="center">
            <tr><td align="center">
            <apex:commandButton value="Manage All" action="{!ManageAll}" />
            </td></tr></table> -->
        
        <apex:pageBlock >
        <!-- updated by dheeraj kumar 17 march 2017 -->
        <br></br><br></br>   <apex:pageMessages ></apex:pageMessages>
             <!-- Dilip for Case -00280089 01-Feb-2017 start-->
             <apex:actionStatus id="methodStatus" onstart="YUIShowLoading();" onstop="YUIHideLoading();"></apex:actionStatus>
            <apex:actionfunction name="showItemFirstPage" action="{!ItemfirstPage}" status="methodStatus" oncomplete="checkUncheckHeader(this);" reRender="paginationItemBlock,itemList"/>
            <apex:actionfunction name="showItemPreviousPage" action="{!Itemprevious}" status="methodStatus" oncomplete="checkUncheckHeader(this);" reRender="paginationItemBlock,itemList"/>
            <apex:actionfunction name="showItemNextPage" action="{!Itemnext}" status="methodStatus"  oncomplete="checkUncheckHeader(this);" reRender="paginationItemBlock,itemList"/>
            <apex:actionfunction name="showItemLastPage" action="{!ItemlastPage}" oncomplete="checkUncheckHeader(this)" status="methodStatus" reRender="paginationItemBlock,itemList"/>
            <!-- Dilip for Case -00280089 01-Feb-2017 end-->
            <!-- Dilip for Case -00280089 01-Feb-2017 start
            <apex:pageBlockTable value="{!ItemWrapperList}" var="pendingItem"
                id="itemList"> -- Dilip for Case -00280089 01-Feb-2017 end>
                <!-- Dilip for Case -00280089 31-Jan-2017 start -->
                <apex:pageBlockTable value="{!ItemListOfToShow}" var="pendingItem"
                id="itemList">
                <!-- Dilip for ER-3150 17-Nov-2016 start -->
                <apex:column HeaderValue="Select">
                    <apex:facet name="header">
                         <apex:inputCheckbox id="CheckboxItemToApprove" value="{!checkboxAllValue}" rendered="{!isShowsidebar}">
                            <apex:actionSupport event="onclick" action="{!GetSelected}"
                                onsubmit="checkAll(this);"
                                rerender="itemList">
                            </apex:actionSupport>
                        </apex:inputCheckbox> 
                    </apex:facet>
                    <!-- Dilip for Case -00280089 31-Jan-2017 end -->
                    <apex:inputCheckbox value="{!pendingItem.isSelected}"
                        id="selectItem">
                        <apex:actionSupport event="onclick"
                            onsubmit="checkUncheckHeader(this)" rerender="test" />
                    </apex:inputCheckbox>
                </apex:column>
                <apex:column HeaderValue="Action" width="150">
                    <apex:outputLink value="/{!pendingItem.i.id}/e?et=REASSIGN"
                                     target="_parent" rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type != 'BNF2__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'MIBNF_Component__c')}" >
                        Reassign |
                    </apex:outputLink>  
                   
                      <apex:outputLink value="/apex/BNF_Reassign?id={!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type == 'BNF2__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'MIBNF_Component__c' && !approvalItems[pendingItem.i.ProcessInstance.TargetObjectId] )}">
                       Reassign |
                   </apex:outputLink> 
                   
                    <apex:outputLink value="/apex/MIBNF_Reassign?id={!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type == 'MIBNF_Component__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'BNF2__c' && !approvalItems[pendingItem.i.ProcessInstance.TargetObjectId])}">
                       Reassign |
                   </apex:outputLink>        
                                      
               <!-- MIBNF :: Date :: 7 Dec 2011 :: MIBNF Component Link -->
                    <apex:outputLink value="/p/process/ProcessInstanceWorkitemWizardStageManager?id={!pendingItem.i.id}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type != 'BNF2__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'MIBNF_Component__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'Pricing_Request_Line_Item__c')}">
                       Approve/Reject
                   </apex:outputLink>
                    <apex:outputLink value="/apex/BNF_Approval?id={!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type == 'BNF2__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'MIBNF_Component__c')}">
                       Approve/Reject
                   </apex:outputLink>
                    <apex:outputLink value="/apex/MI_BNF_Approval?id={!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type == 'MIBNF_Component__c' && pendingItem.i.ProcessInstance.TargetObject.Type != 'BNF2__c')}">
                       Approve/Reject
                   </apex:outputLink>
                    <!-- MIBNF :: Date :: 7 Dec 2011 :: MIBNF Component Link end -->

                    <apex:outputLink value="/apex/PR_PRLI_approval_page?id={!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent"
                        rendered="{!(pendingItem.i.ProcessInstance.TargetObject.Type == 'Pricing_Request_Line_Item__c')}">
                       Approve/Reject
                   </apex:outputLink>
                </apex:column>
                <!-- Dilip for ER-3150 17-Nov-2016 end-->
                <!-- Updated for Issue 10525  08 March 2017 -->
                
                <apex:column HeaderValue="RelatedTo">
                    <apex:outputLink value="/{!pendingItem.i.ProcessInstance.TargetObjectId}"
                        target="_parent">
                       {!pendingItem.i.ProcessInstance.TargetObject.Name}
                   </apex:outputLink>
                </apex:column>
                <!-- Dilip for ER-3150 start-->
                <apex:column HeaderValue="Project/Engagement Name">
                    <apex:outputLink value="/{!pendingItem.projectId}" target="_parent">
                       {!pendingItem.projectName}
                   </apex:outputLink>
                </apex:column>
                <!-- Dilip for ER-3579 Start-->
                 <apex:column HeaderValue="Milestone">
                       {!pendingItem.milestoneName}
               </apex:column>
               <!-- Dilip for ER-3579 End-->
                <apex:column HeaderValue="Total Hours">
                       {!pendingItem.timeCardTotalHours}
               </apex:column>
                <!-- Dilip for ER-3150 end-->
                <apex:column HeaderValue="Type">
                  {!pendingItem.tName}
               </apex:column>

                <apex:column HeaderValue="Most Recent Approver">
                    <apex:outputLink value="/{!pendingItem.i.CreatedById}"
                        target="_parent">
                      {!pendingItem.i.CreatedBy.Name}
                  </apex:outputLink>
                </apex:column>
                <apex:column HeaderValue="Date Submitted"
                    value="{!pendingItem.i.CreatedDate}" />

            </apex:pageBlockTable>
            <!-- Dilip for Case -00280089 31-Jan-2017 start -->
             <apex:outputPanel id="paginationItemBlock" layout="block" style="align:center; height:30px; padding-top:15px; text-align:center;" rendered="{!ItemWrapperList.size!=0 && isShowsidebar}">  
                        &nbsp;{!IF(itemPageNumber == 1,1,((itemPageNumber -1) * itemPageSize)+1)}&nbsp;-&nbsp;{!IF(itemTotalRecord < itemPageNumber * itemPageSize,itemTotalRecord,itemPageNumber * itemPageSize)}&nbsp; of &nbsp;
                        <apex:outputText rendered="{!IF(itemTotalRecord==10000,true,false)}">10000 +</apex:outputText><apex:outputText rendered="{!IF(itemTotalRecord < 10000,true,false)}">{!itemTotalRecord}</apex:outputText>  &nbsp;
                        <apex:image title="First Page" url="{!URLFOR($Resource.PaginationArrow,'/double_back_arrow_disabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!NOT(itemhasPrevious )}" />
                        <apex:image title="First Page" onclick="showItemFirstPage()" url="{!URLFOR($Resource.PaginationArrow,'/double_back_arrow_enabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!(itemhasPrevious )}"/>
                        <apex:image title="Previous Page" url="{!URLFOR($Resource.PaginationArrow,'/back_arrow_disabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!NOT(itemhasPrevious )}" />
                        <apex:image title="Previous Page" onclick="showItemPreviousPage()" url="{!URLFOR($Resource.PaginationArrow,'/back_arrow_enabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!(itemhasPrevious )}"  />
                        <apex:commandLink style="text-decoration: none" onclick="showItemPreviousPage()"  title="Previous Page" value="Previous" rendered="{!itemhasPrevious}" reRender="itemList,paginationItemBlock" />  
                        <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(itemhasPrevious)}">Previous</apex:outputPanel>     &nbsp;       
                        <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(itemhasNext)}">Next</apex:outputPanel>           
                        <apex:commandLink style="text-decoration: none" title="Next Page" value="Next" onclick="showItemNextPage()" rendered="{!itemhasNext}" reRender="itemList,paginationItemBlock" />&nbsp;  
                        <apex:image title="Next Page" url="{!URLFOR($Resource.PaginationArrow,'/front_arrow_disabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!NOT(itemhasNext)}"/>
                        <apex:image title="Next Page" onclick="showItemNextPage()" url="{!URLFOR($Resource.PaginationArrow,'/front_arrow_enabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!itemhasNext}"/>
                        <apex:image title="Last Page" url="{!URLFOR($Resource.PaginationArrow,'/double_front_arrow_disabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!NOT(itemhasNext)}"/>
                        <apex:image title="Last Page" onclick="showItemLastPage()" url="{!URLFOR($Resource.PaginationArrow,'/double_front_arrow_enabled.png')}" style="vertical-align: middle; padding-bottom: 4px;" width="14" height="14" rendered="{!itemhasNext}"/>
           </apex:outputPanel>
           <!-- Dilip for Case -00280089 31-Jan-2017 end-->
        </apex:pageBlock>
        <!-- Dilip for ER-3150 17-Nov-2016 end-->
    </apex:form>
    <!-- </apex:sectionHeader> -->
    <!-- <apex:relatedList list="PendingProcessWorkitemsList"/> -->
</apex:page> 