<apex:page showHeader="false" applyHtmlTag="false" applyBodyTag="false" controller="ExtractBNF" renderAs="pdf"> 
<html>
<!--- <header>BNF Number: {!bnf.name}</header>   -->
<head>
    <link  href="/sCSS/20.0/sprites/1290470434000/Theme3/default/sf/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
    <link  href="/sCSS/20.0/sprites/1290470434000/Theme3/default/sf/extended.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />

    <style> 
        body { font-family: Arial Unicode MS;font-size: 70%; } 
        td { font-family: Arial Unicode MS} 
        input.btn {display : none;}
        .pbSubsection {
        	border-width: 2px 0 0 0;
		    border-style: solid;
		    color: #27282e;
		    padding: 4px 3px;
        }	
        .label {
        	text-align: right;
		    width: 18%;
		    padding: 3px;
		    padding-right: 10px !important;
		    font-size: 91%;
    		color: #4a4a56 !important;
	    }
	    .data {
	    	text-align: left;
		    width: 32%;
		    padding: 3px;
	    }
	    .detailList tr td{
	    	border-bottom: 1px solid #e3deb8;
	    }
	    h1 {font-size: 1.3em;}
	    h3 {font-size: 1.2em;}
	    .updatedField{
	    	background-color: yellow; !important;
    		font-weight: bold;
	    }
	    .addedField{
	                background-color: #00FF00; !important;
	                font-weight: bold;
       }
    </style>   
    
</head>
<body>
	<h1>Purchase/BNF Detail</h1>
	<apex:variable var="list" value="{!''}{!updatedFieldSet}" />
	 <apex:variable var="addedfields" value="{!''}{!addedFieldSet}" />
	<div class="pbSubsection">
		<div>
			<h3>Purchase Information</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Opportunity__c'),'updatedField','')} " >
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Opportunity__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Opportunity__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Opportunity__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Revenue_Analyst__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Revenue_Analyst__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + 'Revenue_Analyst__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Revenue_Analyst__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Opportunity_Number__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Opportunity_Number__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Opportunity_Number__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Opportunity_Number__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.SAP_PC_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.SAP_PC_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.SAP_PC_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.SAP_PC_Code__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Client__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Client__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Client__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Client__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Parent_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Parent_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Parent_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Parent_Code__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Client_PO_Number__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Client_PO_Number__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Client_PO_Number__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Client_PO_Number__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Addendum__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Addendum__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Addendum__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Addendum__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.IMS_Sales_Org__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.IMS_Sales_Org__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.IMS_Sales_Org__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.IMS_Sales_Org__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Addendum_Reasons__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Addendum_Reasons__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Addendum_Reasons__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Addendum_Reasons__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Sales_Org_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Sales_Org_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Sales_Org_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Sales_Org_Code__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Revised_BNF_Comment__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Revised_BNF_Comment__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Revised_BNF_Comment__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Revised_BNF_Comment__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Fair_Value_Type__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Fair_Value_Type__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Fair_Value_Type__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Fair_Value_Type__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Revised_BNF_Date__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Revised_BNF_Date__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Revised_BNF_Date__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Revised_BNF_Date__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Display_Currency__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Display_Currency__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Display_Currency__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Display_Currency__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Original_Prior_Opportunity__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Original_Prior_Opportunity__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Original_Prior_Opportunity__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Original_Prior_Opportunity__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Has_Pricing_Configuration__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Has_Pricing_Configuration__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Has_Pricing_Configuration__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Has_Pricing_Configuration__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contract_Value__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contract_Value__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contract_Value__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contract_Value__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Urgent_Handling__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Urgent_Handling__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Urgent_Handling__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Urgent_Handling__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.SAP_Contract__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.SAP_Contract__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.SAP_Contract__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.SAP_Contract__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Sold_To_Local__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Sold_To_Local__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Sold_To_Local__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Sold_To_Local__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.SAP_Master_Contract__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.SAP_Master_Contract__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.SAP_Master_Contract__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.SAP_Master_Contract__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Sold_To_SAP_Base_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Sold_To_SAP_Base_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Sold_To_SAP_Base_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Sold_To_SAP_Base_Code__c}" />
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>BILL TO and SHIP TO: Address</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Company__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Company__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Company__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Company__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Ship_To_Company__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Ship_To_Company__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Ship_To_Company__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Ship_To_Company__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Company_Local__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Company_Local__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Company_Local__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Company_Local__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Ship_To_Company_Local__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Ship_To_Company_Local__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Ship_To_Company_Local__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Ship_To_Company_Local__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contact__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Delivery_Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Delivery_Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Delivery_Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Delivery_Contact__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Contact_Local__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Contact_Local__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Contact_Local__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Contact_Local__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Ship_To_Contact_Local__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Ship_To_Contact_Local__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Ship_To_Contact_Local__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Ship_To_Contact_Local__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Address__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Address__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Address__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Address__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Address__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Address__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Address__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Address__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_City__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_City__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + 'Bill_To_City__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_City__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.City__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.City__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.City__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.City__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_State_Province__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_State_Province__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_State_Province__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_State_Province__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.State_Province__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.State_Province__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.State_Province__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.State_Province__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Zip_Postal_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Zip_Postal_Code__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Zip_Postal_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Zip_Postal_Code__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Bill_To_Country__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Bill_To_Country__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Bill_To_Country__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Bill_To_Country__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Country__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Country__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Country__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Country__c}" />
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>2nd COPY and COVER SHEET: Address</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_Copy_Company__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_Copy_Company__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_Copy_Company__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_Copy_Company__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Company__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_Company__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Company__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_Company__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_Copy_Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_Copy_Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_Copy_Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_Copy_Contact__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_Contact__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_Address__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_Address__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_Address__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_Address__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Address__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_Address__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Address__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_Address__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_City__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_City__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_City__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_City__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_City__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_City__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_City__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_City__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_State_Province__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_State_Province__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_State_Province__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_State_Province__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_State_Province__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_State_Province__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_State_Province__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_State_Province__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_Zip_Postal_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_Zip_Postal_Code__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_Zip_Postal_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_Zip_Postal_Code__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.X2nd_Country__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.X2nd_Country__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.X2nd_Country__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.X2nd_Country__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Country__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Cover_Sheet_Country__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Cover_Sheet_Country__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Cover_Sheet_Country__c}" />
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>CARBON COPY: Address</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Company__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_Company__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Company__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_Company__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_State_Province__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_State_Province__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_State_Province__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_State_Province__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_Contact__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_Zip_Postal_Code__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Zip_Postal_Code__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_Zip_Postal_Code__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Address__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_Address__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Address__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_Address__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Contact__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_Contact__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_Contact__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_Contact__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_City__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Carbon_Copy_City__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Carbon_Copy_City__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Carbon_Copy_City__c}" />
				</td>
				<td class="label">
				</td>
				<td class="data">
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>Retainer/Down Payment, Subscription and Specification Information</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Is_this_a_retainer_downpayment__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Is_this_a_retainer_downpayment__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Is_this_a_retainer_downpayment__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Is_this_a_retainer_downpayment__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Subscription_Type__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Subscription_Type__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Subscription_Type__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Subscription_Type__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Retainer_Data_Value__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Retainer_Data_Value__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Retainer_Data_Value__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Retainer_Data_Value__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Specification__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Specification__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Specification__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Specification__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Description__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Description__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Description__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Description__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Print_Shop__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Print_Shop__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Print_Shop__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Print_Shop__c}" />
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>Invoice/Billing Information</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Project_Name__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Project_Name__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Project_Name__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Project_Name__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Delivery_Date__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Delivery_Date__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Delivery_Date__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Delivery_Date__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Comments__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Comments__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Comments__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Comments__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Additional_Delivery_Date_Information__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Additional_Delivery_Date_Information__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Additional_Delivery_Date_Information__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Additional_Delivery_Date_Information__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Invoice_Default_Day__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Invoice_Default_Day__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Invoice_Default_Day__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Invoice_Default_Day__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contract_Start_Date__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contract_Start_Date__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contract_Start_Date__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contract_Start_Date__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Additional_Billing_Date_Information__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Additional_Billing_Date_Information__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Additional_Billing_Date_Information__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Additional_Billing_Date_Information__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contract_End_Date__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contract_End_Date__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contract_End_Date__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contract_End_Date__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Invoice_Header_Text__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Invoice_Header_Text__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Invoice_Header_Text__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Invoice_Header_Text__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contract_Type__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contract_Type__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contract_Type__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contract_Type__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Invoice_Description__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Invoice_Description__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Invoice_Description__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Invoice_Description__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Contract_Term__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Contract_Term__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Contract_Term__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Contract_Term__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Invoice_Type__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Invoice_Type__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Invoice_Type__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Invoice_Type__c}" />
				</td>
				<td class="label">
				</td>
				<td class="data">
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Payment_Terms__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Payment_Terms__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Payment_Terms__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Payment_Terms__c}" />
				</td>
				<td class="label">
				</td>
				<td class="data">
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>Pass Thru Information</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Travel_Amount__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Travel_Amount__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Travel_Amount__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Travel_Amount__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Accomodation_Amount__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Accomodation_Amount__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Accomodation_Amount__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Accomodation_Amount__c}" />
				</td>
			</tr>
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Sub_Contractor_Amount__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Sub_Contractor_Amount__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Sub_Contractor_Amount__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Sub_Contractor_Amount__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Hono__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Hono__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Hono__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.Hono__c}" />
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>BNF Status</h3>
		</div>
		<table width="100%">
			<tbody class="detailList">
			<tr> 
				<td class="label {!IF(CONTAINS(list, bnf.id + '.BNF_Status__c'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.BNF_Status__c.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.BNF_Status__c'),'updatedField','')}">
					<apex:outputField value="{!bnf.BNF_Status__c}" />
				</td>
				<td class="label {!IF(CONTAINS(list, bnf.id + '.Name'),'updatedField','')}">
					<apex:outputLabel value="{!$ObjectType.BNF2__c.fields.Name.Label}" /> 
				</td>
				<td class="data {!IF(CONTAINS(list, bnf.id + '.Name'),'updatedField','')}">
					<apex:outputField value="{!bnf.Name}" />
				</td>
			</tr>
			
		   <tr> 
              <td class="label {!IF(CONTAINS(list, bnf.id + '.CreatedDate'),'updatedField','')}">
                  <apex:outputLabel value="CreatedBy" />
              </td>
              <td class="data {!IF(CONTAINS(list, bnf.id + '.CreatedDate'),'updatedField','')}">
                  <apex:outputField value="{!bnf.CreatedById}" />                               
					<apex:outputField value="{!bnf.CreatedDate}"/>
              </td>
              <td class="label {!IF(CONTAINS(list, bnf.id + '.LastModifiedDate'),'updatedField','')}">
                  <apex:outputLabel value="LastModifiedBy" />
              </td>
              <td class="data {!IF(CONTAINS(list, bnf.id + '.LastModifiedDate'),'updatedField','')}">
                  <apex:outputField value="{!bnf.LastModifiedById}" />
                  <apex:outputField value="{!bnf.LastModifiedDate}"/>
              </td>
          </tr> 
			</tbody>
		</table>
	</div>
	<div class="pbSubsection">
		<div>
			<h3>Products</h3>
		</div>
		
	</div>
	
	
</body>
</html>
	<apex:datatable width="100%" value="{!OpportunityLineItem}" var="opptyLineItem"  id="theTable" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
		<apex:column width="30%" styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.PricebookEntry.Name'),'updatedField','')} {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" ><apex:facet name="header">Product Name<br/>(Product Code)</apex:facet><apex:outputField value="{!opptyLineItem.PricebookEntry.Name}"/><br><b><apex:outputText value="(Product Code: {!opptyLineItem.PricebookEntry.ProductCode})"/></b></br></apex:column>  
		
		<apex:column ><apex:facet name="header">Product Details</apex:facet>
	
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem1" id="theTableRow1" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.TotalPrice'),'updatedField','')}"  width="25%" style="text-align:left" headerClass="CurrencyElement"><apex:facet name="header"><apex:outputText value="Sales Price"/></apex:facet><apex:outputField value="{!opptyLineItem.TotalPrice}"></apex:outputField></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Product_Start_Date__c'),'updatedField','')}"  width="20%" style="text-align:left"><apex:facet name="header">Data Period   <br/>Start</apex:facet><apex:outputField style="DateElement" value="{!opptyLineItem.Product_Start_Date__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Product_End_Date__c'),'updatedField','')}"  width="10%" style="text-align:left"><apex:facet name="header">Data Period<br/>End</apex:facet><apex:outputField value="{!opptyLineItem.Product_End_Date__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Billing_Frequency__c'),'updatedField','')}"  width="20%" style="text-align:left"><apex:facet name="header">Billing<br/>Frequency</apex:facet><apex:outputField value="{!opptyLineItem.Billing_Frequency__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Proj_Rpt_Frequency__c'),'updatedField','')}"  width="20%" style="text-align:left"><apex:facet name="header">Delivery/Rpt<br/>Frequency</apex:facet><apex:outputField value="{!opptyLineItem.Proj_Rpt_Frequency__c}"/></apex:column><p><br/></p>
		    </apex:datatable>
		
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem2" id="theTableRow2" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.List_Price__c'),'updatedField','')}" width="48%" style="text-align:left" headerClass="CurrencyElement"><apex:facet name="header">List Price</apex:facet><apex:outputField value="{!opptyLineItem.List_Price__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Discount_Percentage_Formula__c'),'updatedField','')}" width="48%" style="text-align:left"><apex:facet name="header">Discount%</apex:facet><apex:outputField value="{!opptyLineItem.Discount_Percentage_Formula__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Discount_Reason__c'),'updatedField','')}" style="text-align:left"><apex:facet name="header">Discount Reason</apex:facet><apex:outputField value="{!opptyLineItem.Discount_Reason__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Discount_Amount_Formula__c'),'updatedField','')}" style="text-align:left"><apex:facet name="header">Discount Amount</apex:facet><apex:outputField value="{!opptyLineItem.Discount_Amount_Formula__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Delivery_Media__c'),'updatedField','')}" style="text-align:left"><apex:facet name="header">Delivery Media</apex:facet><apex:outputField value="{!opptyLineItem.Delivery_Media__c}"/></apex:column>
		    </apex:datatable>
		    
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow3" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Nbr_of_Users__c'),'updatedField','')}" width="20%" style="text-align:left"><apex:facet name="header">Nbr of<br/>Users</apex:facet><apex:outputField value="{!opptyLineItem.Nbr_of_Users__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Other_Ship_To__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Other<br/>Ship To</apex:facet><apex:outputField value="{!opptyLineItem.Other_Ship_To__c}"/></apex:column>
                <!--updated By Dheeraj Kumar -- Issue-11022 -- 20 June 2017-->
                <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Budget_Billing_Model__c'),'updatedField','')}" width="40%" style="text-align:left" rendered="{! opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZREP'}"><apex:facet name="header">Billing Model</apex:facet><apex:outputField value="{!opptyLineItem.Budget_Billing_Model__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Revised_Price__c'),'updatedField','')}" width="100%" style="text-align:left" rendered="{!bnf.Addendum__c}"><apex:facet name="header">Revised Price</apex:facet><apex:outputField value="{!opptyLineItem.Revised_Price__c}"/></apex:column> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Cancel_Text__c'),'updatedField','')}" width="100%" style="text-align:left" rendered="{!bnf.Addendum__c}"><apex:facet name="header">Cancel</apex:facet><apex:outputField value="{!opptyLineItem.Cancel_Text__c}"/></apex:column>
		    </apex:datatable>
		    
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow4" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
		    	<apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Product_Invoice_Text__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Product Invoice Text</apex:facet><apex:outputField value="{!opptyLineItem.Product_Invoice_Text__c}"/></apex:column>    
		    </apex:datatable>
		
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow5" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Delivery_Country__c'),'updatedField','')}" width="67%" style="text-align:left"><apex:facet name="header">Delivery Country</apex:facet><apex:outputField value="{!opptyLineItem.Delivery_Country__c}"/></apex:column>
			    <apex:column width="100%" style="text-align:left">
			        <apex:facet name="header">WBS<br/>ID</apex:facet>
			            <apex:outputField styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.WBS__c'),'updatedField','')}" value="{!opptyLineItem.WBS__c}" rendered="{!IF(opptyLineItem.WBS_R_Element__c==null, TRUE, FALSE)}"/>
			            <apex:outputField styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.WBS_R_Element__c'),'updatedField','')}" value="{!opptyLineItem.WBS_R_Element__c}" rendered="{!IF(opptyLineItem.WBS_R_Element__c!=null, TRUE, FALSE)}"/>
			    </apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Therapy_Area__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Therapy Area</apex:facet><apex:outputField value="{!opptyLineItem.Therapy_Area__c}"/></apex:column>
			     <!--  Added by Ritesh Gupta : Issue-07072-->
    			<apex:column width="" style="text-align:left" styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Audit_Subscription_Status__c'),'updatedField','')}"><apex:facet name="header">Audit Subscription Status</apex:facet><apex:outputField value="{!opptyLineItem.Audit_Subscription_Status__c}"/></apex:column>
				<!-- Updated by Dheeraj -- Issue-10593 -- 30  march 2017 --> 
    			<apex:column width="" style="text-align:left" styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.ProfitCenter__c'),'updatedField','')}"><apex:facet name="header">Profit Center</apex:facet><apex:outputField value="{!opptyLineItem.ProfitCenter__c}"/></apex:column>
			</apex:datatable>
		
		    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow6" rules="rows" rowClasses="odd,even" styleClass="tableClass {!IF(CONTAINS(addedfields, opptyLineItem.id),'addedField','')}" cellpadding="1" cellspacing="1" border="1"> 
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Sale_Type__c'),'updatedField','')}" width="50%" style="text-align:left"><apex:facet name="header">Sale<br/>Type</apex:facet><apex:outputField value="{!opptyLineItem.Sale_Type__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Revenue_Type__c'),'updatedField','')}" width="20%" style="text-align:left"><apex:facet name="header">Revenue<br/>Type</apex:facet><apex:outputField value="{!opptyLineItem.Revenue_Type__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Winback__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Win<br/>Back</apex:facet><apex:outputField value="{!opptyLineItem.Winback__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Invoice_Lag_to_Data_Period__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Invoice Lag to<br/>Data Period</apex:facet><apex:outputField value="{!opptyLineItem.Invoice_Lag_to_Data_Period__c}"/></apex:column>
			    <apex:column styleClass="{!IF(CONTAINS(list, opptyLineItem.id + '.Billing_Date__c'),'updatedField','')}" width="100%" style="text-align:left"><apex:facet name="header">Billing Date</apex:facet><apex:outputField value="{!opptyLineItem.Billing_Date__c}"/></apex:column>
		    </apex:datatable>
		</apex:column>
	</apex:datatable>
</apex:page>