<apex:page controller="ExtractBNF" contentType="text/html; charset=utf-8" renderAs="pdf" applyhtmltag="false" showHeader="false"> 

<apex:stylesheet value="{!URLFOR($Resource.BNFCss,'elements.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.BNFCss,'common.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.BNFCss,'extended.css')}"/>


<!--- <header>BNF Number: {!bnf.name}</header>  -->
<head>
<style> 
body { font-family: Arial Unicode MS;font-size: 70%; } 
td { font-family: Arial Unicode MS; }
input.btn {display : none;}
</style>
</head>


<apex:detail subject="{!bnf}" title="true" relatedList="false"/>

<apex:datatable width="100%" value="{!OpportunityLineItem}" var="opptyLineItem"  id="theTable" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
<apex:column width="30%"><apex:facet name="header">Product Name<br/>(Product Code)</apex:facet><apex:outputText value="{!opptyLineItem.PricebookEntry.Name}"/><br><b><apex:OutputText value="(Product Code: {!opptyLineItem.PricebookEntry.ProductCode})"/></b></br></apex:column>  

<apex:column ><apex:facet name="header">Product Details</apex:facet>

    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem1" id="theTableRow1" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <apex:column width="25%" style="text-align:left" headerClass="CurrencyElement"><apex:facet name="header"><apex:outputText value="Sales Price"/></apex:facet><apex:outputField value="{!opptyLineItem.TotalPrice}"></apex:outputField></apex:column>
    <apex:column width="20%" style="text-align:left"><apex:facet name="header">Data Period   <br/>Start</apex:facet><apex:outputField style="DateElement" value="{!opptyLineItem.Product_Start_Date__c}"/></apex:column>
    <apex:column width="10%" style="text-align:left"><apex:facet name="header">Data Period<br/>End</apex:facet><apex:outputField value="{!opptyLineItem.Product_End_Date__c}"/></apex:column>
    <apex:column width="20%" style="text-align:left"><apex:facet name="header">Billing<br/>Frequency</apex:facet><apex:outputText value="{!opptyLineItem.Billing_Frequency__c}"/></apex:column>
    <apex:column width="20%" style="text-align:left"><apex:facet name="header">Delivery/Rpt<br/>Frequency</apex:facet><apex:outputText value="{!opptyLineItem.Proj_Rpt_Frequency__c}"/></apex:column><p><br/></p>
    </apex:datatable>

    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem2" id="theTableRow2" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <apex:column width="48%" style="text-align:left" headerClass="CurrencyElement"><apex:facet name="header">List Price</apex:facet><apex:outputField value="{!opptyLineItem.List_Price__c}"/></apex:column>
    <apex:column width="48%" style="text-align:left"><apex:facet name="header">Discount%</apex:facet><apex:outputField value="{!opptyLineItem.Discount_Percentage_Formula__c}"/></apex:column>
     <apex:column style="text-align:left"><apex:facet name="header">Discount Reason / Surcharge Text</apex:facet>
    <apex:outputpanel rendered="{!opptyLineItem.Discount_Reason__c!=null}"> <apex:outputText value="{!opptyLineItem.Discount_Reason__c}"/></apex:outputpanel>
    <apex:outputpanel rendered="{!opptyLineItem.Surcharge_Text__c!=null}"><apex:outputText value="{!opptyLineItem.Surcharge_Text__c}"/></apex:outputpanel>
    </apex:column>
    <apex:column style="text-align:left"><apex:facet name="header">Discount / Surcharge Amount</apex:facet><apex:outputField value="{!opptyLineItem.Discount_Amount_Formula__c}"/></apex:column>
    <apex:column style="text-align:left"><apex:facet name="header">Delivery Media</apex:facet><apex:outputText value="{!opptyLineItem.Delivery_Media__c}"/></apex:column>
    </apex:datatable>
    
    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow3" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <apex:column width="20%" style="text-align:left"><apex:facet name="header">Nbr of<br/>Users</apex:facet><apex:outputField value="{!opptyLineItem.Nbr_of_Users__c}"/></apex:column>
    <apex:column width="40%" style="text-align:left"><apex:facet name="header">Other<br/>Ship To</apex:facet><apex:outputField value="{!opptyLineItem.Other_Ship_To_Address__r.Name}" /><apex:outputText value=" (" rendered="{!opptyLineItem.Other_Ship_To_Address__c!=null}"/><apex:outputField value="{!opptyLineItem.Other_Ship_To_Address__r.SAP_Reference__c}"/><apex:outputPanel rendered="{!opptyLineItem.Other_Ship_To_Address__c!=null}">)<br/></apex:outputPanel><apex:outputField value="{!opptyLineItem.Other_Ship_To_SAP_Contact__r.Name}"/></apex:column>
    <apex:column width="40%" style="text-align:left" rendered="{! opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZREP'}"><apex:facet name="header">Billing Model</apex:facet><apex:outputField value="{!opptyLineItem.Budget_Billing_Model__c}"/></apex:column>
    <apex:column width="100%" style="text-align:left" rendered="{!bnf.Addendum__c}"><apex:facet name="header">Revised Sales Price</apex:facet><apex:outputField value="{!opptyLineItem.Revised_Price__c}"/></apex:column> 
    <apex:column width="100%" style="text-align:left" rendered="{!bnf.Addendum__c}"><apex:facet name="header">Cancel</apex:facet><apex:outputText value="{!opptyLineItem.Cancel_Text__c}"/></apex:column>
    
 
    </apex:datatable>
    
    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow4" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">Product Invoice Text</apex:facet><apex:outputField value="{!opptyLineItem.Sales_Text__c}"/></apex:column> 
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">PO Number</apex:facet><apex:outputField value="{!opptyLineItem.PO_Number__c}"/></apex:column>
  
    </apex:datatable>

    <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow5" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <!-- <apex:column width="50%" style="text-align:left"><apex:facet name="header">WBS<br/>ID</apex:facet><apex:outputField value="{!opptyLineItem.WBS__c}"/></apex:column> -->
    <!-- START :: Code updated as per Phi changes for 6650 HARI JELLA  -->
    <!--<apex:column width="50%" style="text-align:left">
        <apex:facet name="header">WBS<br/>ID</apex:facet>
            <apex:outputField value="{!opptyLineItem.WBS__c}" rendered="{!IF(opptyLineItem.WBSRElement__c==null, TRUE, FALSE)}"/>
            <apex:outputField value="{!opptyLineItem.WBSRElement__c}" rendered="{!IF(opptyLineItem.WBSRElement__c!=null, TRUE, FALSE)}"/>
    </apex:column> -->

    <!-- Update by Himanshu Parashar : 25 Feb :Column width change - ER - 0303-->
    <apex:column width="" style="text-align:left"><apex:facet name="header">Delivery Country</apex:facet><apex:outputText value="{!opptyLineItem.Delivery_Country__c}"/></apex:column>
    <apex:column width="" style="text-align:left">
        <apex:facet name="header">WBS ID</apex:facet>
            <apex:outputField value="{!opptyLineItem.WBS__c}" rendered="{!IF(opptyLineItem.WBS_R_Element__c==null, TRUE, FALSE)}"/>
            <apex:outputField value="{!opptyLineItem.WBS_R_Element__c}" rendered="{!IF(opptyLineItem.WBS_R_Element__c!=null, TRUE, FALSE)}"/>
    </apex:column>
    <!--  Added by Himanshu Parashar : 25 Feb :Adding column of Therapy_Area field - ER - 0303-->
    <apex:column width="" style="text-align:left"><apex:facet name="header">Therapy Area</apex:facet><apex:outputField value="{!opptyLineItem.Therapy_Area__c}"/></apex:column>
    <!--  Added by Ritesh Gupta : Issue-07072-->
    <apex:column width="" style="text-align:left"><apex:facet name="header">Audit Subscription Status</apex:facet><apex:outputField value="{!opptyLineItem.Audit_Subscription_Status__c}"/></apex:column>
    
    <!-- END :: Code updated as per Phi changes for 6650 HARI JELLA  -->
    
    
    </apex:datatable>

   <apex:datatable rows="1" value="{!OpportunityLineItem}" var="opptyLineItem3" id="theTableRow6" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
    <apex:column width="50%" style="text-align:left"><apex:facet name="header">Sale<br/>Type</apex:facet><apex:outputField value="{!opptyLineItem.Sale_Type__c}"/></apex:column>
    <apex:column width="20%" style="text-align:left"><apex:facet name="header">Revenue<br/>Type</apex:facet><apex:outputField value="{!opptyLineItem.Revenue_Type__c}"/></apex:column>
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">Win<br/>Back</apex:facet><apex:outputField value="{!opptyLineItem.Winback__c}"/></apex:column>
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">Invoice Lag to<br/>Data Period</apex:facet><apex:outputField value="{!opptyLineItem.Invoice_Lag_to_Data_Period__c}"/></apex:column>  
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">Billing Date</apex:facet><apex:outputField value="{!opptyLineItem.Billing_Date__c}"/></apex:column>
    <apex:column width="100%" style="text-align:left"><apex:facet name="header">Delivery Date</apex:facet><apex:outputField value="{!opptyLineItem.Delivery_Date__c}"/></apex:column>

   </apex:datatable>

    <apex:outputPanel rendered="{!isNewBnf && OR(opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZREP', (opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZPUB' && opptyLineItem.PricebookEntry.Product2.Item_Category_Group__c=='ZLIC'))}">  
        <apex:datatable width="100%"  value="{!Billing_Schedule_Items[opptyLineItem.id]}" var="blschedule" id="billingscheduletable" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
        <apex:facet name="caption">Billing Schedules</apex:facet>
        <apex:column width="15%" style="text-align:left"><apex:facet name="header">Billing Date</apex:facet><apex:outputField value="{!blschedule.Billing_Date__c}"/></apex:column>
        <apex:column width="35%" style="text-align:left"><apex:facet name="header">Billing Amount{!blschedule.size}</apex:facet><apex:outputField value="{!blschedule.Billing_Amount__c}"/></apex:column>
        <apex:column width="50%" style="text-align:left"><apex:facet name="header">Invoice Text</apex:facet><apex:outputField value="{!blschedule.Invoice_Description__c}"/></apex:column>
    
       </apex:datatable>
       
       <!-- Added by pramod -->
       <apex:datatable width="100%" value="{!Revenue_Schedule_Items[opptyLineItem.id]}" var="blschedule" id="revenuescheduletable" rules="rows" rowClasses="odd,even" styleClass="tableClass" cellpadding="1" cellspacing="1" border="1"> 
        <apex:facet name="caption">Revenue Schedules</apex:facet>
        <apex:column width="15%" style="text-align:left"><apex:facet name="header">Date</apex:facet><apex:outputField value="{!blschedule.ScheduleDate}"/></apex:column>
        <apex:column width="35%" style="text-align:left"><apex:facet name="header">Revenue Amount{!blschedule.size}</apex:facet><apex:outputField value="{!blschedule.Revenue}"/></apex:column>
        <apex:column width="50%" style="text-align:left"><apex:facet name="header">Description</apex:facet><apex:outputField value="{!blschedule.Description}"/></apex:column>
    
       </apex:datatable>
    </apex:outputPanel>   
  
</apex:column>

</apex:datatable>

</apex:page>