<apex:page standardController="Agreement__c" extensions="Clone_Agreement" id="pgId" lightningStylesheets="true">
<apex:slds /> 
<apex:form id="frmId" >
    <apex:pagemessages />
    <apex:pageBlock id="pbId" >
        <!------------------ Clonning Option Section --------------- -->
        <apex:pageBlockSection id="pbsId" columns="1" title="Clone Options:" >
            <apex:selectRadio value="{!selectedOption}">
                <apex:selectOptions value="{!CloneOptions}"/>
            </apex:selectRadio>            
        </apex:pageBlockSection>        

        <!------------------ Button Section --------------- -->
        <apex:pageBlockButtons location="Bottom" >
            <apex:commandButton value="Clone" action="{!CloneObject}" reRender="frmId"/>
            <apex:commandButton value="Cancel" action="{!Cancel}"/>
        </apex:pageBlockButtons>        
    </apex:pageBlock>
</apex:form>
</apex:page>