<apex:page id="pg" title="Agreement Chart" standardController="ATC__c" extensions="ContractChart" sidebar="false" showHeader="true" readOnly="true" lightningStylesheets="true" docType="html-5.0">
    <apex:slds />
    <c:JQueryBlockUI />
    <script> 
         var flagEnter = false;   
           
         document.body.onkeypress = function(e){
                var keycode;  
                if (window.event)  
                    {  
                       keycode = window.event.keyCode;  
                    }  
                else if (e)  
                    {  
                       keycode = e.which;
                    }
                if(keycode == 13)
                    {
                        if(flagEnter == true)
                            {
                               flagEnter = false;
                               return false;
                            }
                          YUIShowLoading();  
                          enterkeycalling();// action function which rerender a particular div/section             
                          return false;
                    }
                else
                    return true;
            }
         
        var lookupwindow ='';   
        var lookUpWindowOpen = false;
        //method to handle account lookup popup
        function ShowLookup(searchText)
            {
                YUIShowLoading();
                if(!lookUpWindowOpen)
                    {
                        lookUpWindowOpen = true;
                        //Commented By:-Ekta , Date :- Oct 9, 2014 , Details:- Issue-05527
                        //lookupwindow = window.showModalDialog(encodeURI('{!$Page.Account_Lookup}' + '?strText=' + searchText),'test',"dialogWidth:700px;dialogHeight:450px;center:yes;dialogTop:100;dialogLeft:300"); 
                        //Added By:-Ekta , Date :- Oct 9, 2014 , Details:- Issue-05527
                        lookupwindow = window.open('/apex/Account_Lookup?strText='+ searchText,'_blank','width=700,height=450,scrollbars=1');  
                        lookUpWindowOpen = false;
                    }
                //Commented By:-Ekta , Date :- Oct 9, 2014 , Details:- Issue-05527
                /*if(lookupwindow != null)
                    {
                        SetAccount(lookupwindow[0],lookupwindow[1]);
                    }*/
                else
                    {
                        YUIHideLoading();
                    }
                
            }
        //method to set the selected account details on the contract chart
        function SetAccount(accountId,accountName)
            {
                document.getElementById("pg:frm:pb:section:pbsi:txtAccount").value = accountName;
                jsAssignAccount(accountId);   
                
            }
        
        function SetAccountNull(){
            YUIHideLoading();
        }

        function PopupOnEnter(evt,elementId)
            {
                 var charCode = (evt.which) ? evt.which : event.keyCode
                       
                 if (charCode == 13)
                     {
                        flagEnter = true;
                        ShowLookup(document.getElementById("pg:frm:pb:section:pbsi:txtAccount").value);
                        
                        return false;
                    }
                
                else
                    {
                        return true;
                    }
            }    
  
    </script>
<!--css for the contract chart agreement nodes and product nodes-->
<style>
     .container 
         {
             background:#667799; 
             color:#fff;
         }
     .rtop, .rbottom
         {
             display:block;
             background:#EEE;
         }
     .rtop *, .rbottom *{
        display: block;
        height: 1px;
        overflow: hidden;
        background:#667799;
        }
         .r1{margin: 0 5px}
         .r2{margin: 0 3px}
         .r3{margin: 0 2px}
         .r4{
        margin: 0 1px;
        height: 2px
        }
    .productcontainer {background:green; color:#fff;font-size:89%;}
    .prrtop, .prrbottom{
        display:block;
        background:#EEE;
        }
         .prrtop *, .prrbottom *{
        display: block;
        height: 1px;
        overflow: hidden;
        background:green;
        }
         .r1pr{margin: 0 5px}
         .r2pr{margin: 0 3px}
         .r3pr{margin: 0 2px}
         .r4pr{
        margin: 0 1px;
        height: 2px
        }
        
    .empty{
        width:0px !important;
        padding : 0px !important;
        font-size : 0px !important;
    }
    .pbSubsection{
        padding : 0px !important;
    }
 </style>
 
 <!--Script for finding window width -->
 <script>
   function searchRjs1() {
   
  
   try {
     var winW = 630, winH = 460;
            if (document.body && document.body.offsetWidth) {
             winW = document.body.offsetWidth;
             winH = document.body.offsetHeight;
            }
            if (document.compatMode=='CSS1Compat' &&
                document.documentElement &&
                document.documentElement.offsetWidth ) {
             winW = document.documentElement.offsetWidth;
             winH = document.documentElement.offsetHeight;
            }
            if (window.innerWidth && window.innerHeight) {
             winW = window.innerWidth;
             winH = window.innerHeight;
            }
           
           var panelwidth = winW - 50; 
   
   searchRjs(panelwidth);
   }catch(e)  {
   alert(e);
   }
   }  
   
 </script>
<apex:form id="frm">


<apex:actionFunction name="enterkeycalling" action="{!searchResults}" onComplete="YUIHideLoading();" rerender="opResults,opButton,opError"/ >

<apex:actionFunction name="searchRjs" action="{!searchResults}" onComplete="YUIHideLoading();" rerender="opResults,opButton,opError" >
 <apex:param name="panelwidth" value=""/>
</apex:actionFunction>
<!-- updated By : Ranu Jain,date : 28th Sep,2012,fix : Bug_74 -->
<apex:actionFunction action="{!AssignAccount}" name="jsAssignAccount" onComplete="YUIHideLoading();" rerender="opProduct,opButton" immediate="true">
     <apex:param name="accId" value=""/>
</apex:actionFunction>
<!--Added By sweta Details:ER-0029 Date:08/04/2015 -->
<apex:pageBlock rendered="{!isShowMessage}">
    <apex:pageBlockSection >
       <apex:pageblocksectionItem ><apex:outputPanel >You have insufficient privileges for access this functionality.</apex:outputPanel> </apex:pageblocksectionItem>
       <!-- commented by Sandeep Singhal for issue 6735 date 9 April 2015 -->
       <!-- <apex:pageblocksectionItem ><apex:commandButton value="OK and Back to Account" Action="{!Cancel}"/> </apex:pageblocksectionItem> -->
    </apex:pageBlockSection>
</apex:pageBlock>
<!--Ended By sweta Details:ER-0029 Date:08/04/2015 -->
<!--Updated By sweta Details:ER-0029 Date:08/04/2015 :: Added rendered condition -->
<apex:pageBlock id="pb" mode="edit" rendered="{!!isShowMessage}">
<apex:outputPanel id="opError">
<apex:pageMessages id="pmError" />
</apex:outputPanel>
<apex:pageBlockSection columns="1" id="section" title="{!$Label.Filter_criteria}" >
<apex:pageBlockSectionItem id="pbsi" >
    <apex:outputLabel value="{!$Label.Account}:"></apex:outputLabel>
    <apex:outputPanel >
        <div class="requiredInput">
            <div class="requiredBlock"></div>
            <apex:outputPanel id="opAccount">
                <apex:actionRegion >
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right slds-size_1-of-3">    
                <apex:inputText id="txtAccount" styleClass="slds-input" value="{!AccountName}" onkeypress="return PopupOnEnter(event,'pg:frm:pb:section:pbsi:txtAccount');" />
                    <!-- <apex:image url="/s.gif" alt="Lookup (New Window)" styleClass="lookupIcon" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';"
                    onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" onclick="return ShowLookup(document.getElementById('pg:frm:pb:section:pbsi:txtAccount').value);" title="{!$Label.Lookup_New_Window}" /> -->
                    <a class="slds-icon_container slds-icon-utility-search">
                        <svg aria-hidden="true" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default"
                                onclick="return ShowLookup(document.getElementById('pg:frm:pb:section:pbsi:txtAccount').value);" 
                                style="pointer-events: visible;top:15px;">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" 
                                    xlink:href="/apexpages/slds/latest//assets/icons/utility-sprite/svg/symbols.svg#search">
                            </use>
                        </svg>
                        <span class="slds-assistive-text">search</span>
                    </a>
                    </div>
                </apex:actionRegion>
            </apex:outputPanel>
        </div>
    </apex:outputPanel>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem id="pbsi1">
    <apex:outputLabel value="{!$Label.Product}:"></apex:outputLabel>
    <apex:outputPanel id="opProduct">
    <apex:selectList value="{!ProductId}" id="valProduct" size="5" multiselect="true"> 
        <!-- Updated By:-Ekta ,Date:-8th May,2013,Details:-ER-0340 -->
        <apex:selectOption itemValue="" itemLabel="{!$Label.All}"></apex:selectOption>
        <apex:selectOptions value="{!lstProducts}"></apex:selectOptions>
    </apex:selectList>
    </apex:outputPanel>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="{!$Label.Agreement_Status}"></apex:outputLabel>
        <apex:selectList value="{!contractStatus}" id="valStatus" size="1"> 
            <apex:selectOption itemValue="true" itemLabel="{!$Label.Active}" ></apex:selectOption> 
            <apex:selectOption itemValue="false" itemLabel="{!$Label.InActive}"></apex:selectOption> 
            <apex:selectOption itemValue="all" itemLabel="{!$Label.All}" ></apex:selectOption>         
    </apex:selectList>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="{!$Label.Contract_Type}:"></apex:outputLabel>
        <apex:selectList value="{!contractType}" id="valType" size="5" multiselect="true" > 
        <!-- Updated By:-Ekta ,Date:-8th May,2013,Details:-ER-0340 -->
            <apex:selectOption itemValue="all" itemLabel="{!$Label.All}"></apex:selectOption>
            <apex:selectOption itemValue="Agreement" itemLabel="{!$Label.Agreement}" ></apex:selectOption> 
            <apex:selectOption itemValue="CES Memorandum" itemLabel="{!$Label.CES_Memorandum}" ></apex:selectOption> 
            <apex:selectOption itemValue="Co-promotion Agreement" itemLabel="{!$Label.Co_promotion_Agreement}"></apex:selectOption>
            <apex:selectOption itemValue="Information Service Agreement" itemLabel="{!$Label.Information_Service_Agreement}"></apex:selectOption> 
            <apex:selectOption itemValue="Master Agreement of Consulting" itemLabel="{!$Label.Master_Agreement_of_Consulting}"></apex:selectOption> 
            <apex:selectOption itemValue="Master Agreement of Services" itemLabel="{!$Label.Master_Agreement_of_Services}"></apex:selectOption> 
            <apex:selectOption itemValue="Memorandum" itemLabel="{!$Label.Memorandum}"></apex:selectOption> 
            <apex:selectOption itemValue="Non Disclosure Agreement" itemLabel="{!$Label.Non_Disclosure_Agreement}"></apex:selectOption> 
            <apex:selectOption itemValue="Order Form" itemLabel="{!$Label.Order_Form}"></apex:selectOption> 
            <apex:selectOption itemValue="Other" itemLabel="{!$Label.Other}"></apex:selectOption> 
            <apex:selectOption itemValue=" Personal information protection agreement" itemLabel="{!$Label.Personal_information_protection_agreement}"></apex:selectOption> 
            <apex:selectOption itemValue="Third party access agreement" itemLabel="{!$Label.Third_party_access_agreement}"></apex:selectOption> 
        </apex:selectList>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
    <apex:outputLabel value="{!$Label.Signed_Date_By_Client_IMS}"></apex:outputLabel>
    <apex:outputpanel >
        <apex:outputLabel value="{!$Label.From}:"></apex:outputLabel>
        <apex:input type="date" value="{!dataPeriodStart}" id="strtDt" size="12"> </apex:input>
        <apex:outputLabel value="{!$Label.To}:"></apex:outputLabel>
        <apex:input type="date" value="{!dataPeriodEnd}" id="endDt" size="12"> </apex:input>
    </apex:outputpanel>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem >

    <apex:inputHidden />
    <apex:outputPanel id="opButton">
        <apex:commandButton title="{!$Label.Reset_Filters}"  value="{!$Label.Reset_Filters}" action="{!resetFilters}" immediate="true"  />
        <apex:commandButton title="{!$Label.Get_Data}" id="btnGetData" value="{!$Label.Get_Data}" onclick="searchRjs1();return false;" rerender="opError,opResults,opButton" />
        <apex:commandButton title="{!$Label.Export_to_Excel}" value="{!$Label.Export_to_Excel}" action="{!ExportToExcel}" reRender="opButton" rendered="{!showDataBlock}"/>
    </apex:outputPanel>
</apex:pageBlockSectionItem>
</apex:pageBlockSection>

<apex:outputPanel id="opResults">
    
        <apex:outputPanel rendered="{!IF(showDataBlock,true,false)}">
            <table>
                <tr>
                    <td colspan="2">
                        <b>{!$Label.Legends}</b>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:{!contractColorSettings.Case1_Node_Color__c}">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        {!$Label.Contract_Type} - {!$Label.Memorandum} / {!$Label.Agreement} / {!$Label.Order_Form}
                    </td>
                    
                </tr>
                <tr>
                    <td style="background-color:{!contractColorSettings.Case2_Node_Color__c}">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        {!$Label.Contract_Type} - {!$Label.Third_party_access_agreement} / {!$Label.Co_promotion_Agreement} / {!$Label.Non_Disclosure_Agreement} / {!$Label.Personal_information_protection_agreement} / {!$Label.Other}
                    </td>
                </tr>
                 <tr>
                    <td style="background-color:{!contractColorSettings.Case3_Node_Color__c}">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        {!$Label.Contract_Type} - {!$Label.Information_Service_Agreement} / {!$Label.Master_Agreement_of_Consulting} / {!$Label.Master_Agreement_of_Services}
                    </td>
                </tr>
                <tr>
                    <td style="background-color:{!contractColorSettings.Default_Node_Color__c}">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        {!$Label.Any_other_Contract_Type}
                    </td>
                </tr>
                <tr>
                    <td style="background-color:green">&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        {!$Label.Product_Nodes}
                    </td>
                </tr>
                 <tr>
                    
                </tr>
            </table>
        </apex:outputPanel>
    
<apex:pageBlockSection title="{!$Label.Search_Result_s}" rendered="{!showSearchResults}" id="pbsResults"  >  
<apex:outputPanel layout="block" rendered="{!NOT(showDataBlock)}" style="width:100;">
    <apex:outputText value="{!$Label.No_search_results}"></apex:outputText>
</apex:outputPanel>
  <!-- updated By : Ranu Jain ,Date : 6 June, 2012 Detail : horizontal and vetical scroll 
   is applied to fix Bug # 74 fixed width:{!panelwidth}px-->
   <!--<apex:outputPanel style="width:1450px; height:650px ;overflow-x:scroll;overflow-y:scroll" layout="block" id="opDataHierarchy" rendered="{!showDataBlock}">-->
   
    <apex:outputPanel style="width:{!panelwidth}px; height:650px ;overflow-y:scroll" 
    layout="block" id="opDataHierarchy" rendered="{!showDataBlock}">
   

        <table cellspacing="0" cellpadding="0" border="0">
            <apex:repeat value="{!lstChartDataWrapper}" var="objDataWrapper">
                <tr >
                    <apex:outputLabel escape="false" value="{!objDataWrapper.tdStringData}"/>
                    <!--updated By sweta ER-0029 date:07/04/2015 -->
                    <!--<td nowrap="nowrap" valign="bottom" >-->
                     <td valign="bottom" >
                        <!-- upadted by sweta added word-wrap:break-word; to style -->
                        <div class="container" style="width:300px;background-color:{!objDataWrapper.bgColor};word-break: break-all;" onmouseover="this.style.cursor='pointer'" onclick="window.open('/'+ '{!objDataWrapper.AgreementId}', '');">
                            <b class="rtop">
                                <b class="r1"></b> 
                                <b class="r2"></b> 
                                <b class="r3"></b> 
                                <b class="r4"></b>
                            </b>
                               <table width="100%" ><tr><td align="right"><apex:image url="/resource/1334241618000/CM_Check" width="20px" height="15px" rendered="{!IF(objDataWrapper.status = 'Active',true,false)}"/><apex:image width="20px" height="15px" url="/resource/1334241749000/CM_Cross" rendered="{!IF(objDataWrapper.status = 'Active',false,true)}"/> </td></tr></table>
                               &nbsp;<b>{!$label.Agreement_Name}:</b> {!objDataWrapper.AgreementName}<br/>
                               <!-- Updated By Rakesh : 31 Oct 2013 : ER-530 :: Remove Attach Number from Agreement Node -->
                               <!-- &nbsp;<b>{!$label.Attach_Number}:</b> {!objDataWrapper.AttachNumber}<br/> -->
                               &nbsp;<b>{!$label.Contract_Type}:</b> {!objDataWrapper.ContractType}<br/>
                               &nbsp;<b>{!$label.Agreement_Term}:</b> {!objDataWrapper.AgreementTerm}<br/>
                               &nbsp;<b>{!$label.Agreement_Number}:</b> {!objDataWrapper.AgreementNumber}<br/>
                               <apex:outputPanel rendered="{!objDataWrapper.hasParent}">
                               &nbsp;<b>{!$label.Total_Agreement_Value}:</b> {!objDataWrapper.ISOCode}&nbsp; <apex:outputText value="{0, number, ###,##0}">
                                    <apex:param value="{!objDataWrapper.objAgr.Total_Contract_Value__c}" /></apex:outputText> <br/>
                               </apex:outputPanel>
                               &nbsp;<b>{!$label.Agreement_Start_Date}:</b> <apex:outputText value="{0,date,yyyy/MM/dd}"><apex:param value="{!objDataWrapper.AgreementStartDate}" /></apex:outputText><br/>
                               <!-- ER-0104 : Active,Inactive mark are shown 
                               &nbsp;<b>{!$label.Status}:</b> {!objDataWrapper.status}<br/>-->
                            <b class="rbottom">
                                <b class="r4"></b> 
                                <b class="r3"></b> 
                                <b class="r2"></b> 
                                <b class="r1"></b>
                            </b>
                        </div>
                        
                    </td>
                    
                </tr>
                <tr>
                    <apex:outputLabel escape="false" value="{!objDataWrapper.tdProductString}" />
                    <!-- Modified by:-Ekta,Details:-Issue-01541-->
                        <apex:variable value="{!objDataWrapper.lstItems.size}" var="rowNum"/>
                    <!-- Updated by sweta :Details:ER-0029 Date:07/04/2015 ::border-left-style:ridge; TOborder-left-style:solid; -->
                    <td style="{!if(objDataWrapper.hasChild,'border-left-width: 3px;border-left-style:solid;border-left-color: black','')}">
                        <table width="100%" cellspacing="0" cellpadding="0" height="100%" border="1" style="display: table-cell; height: 100%;border-style:none;">
                        <apex:repeat value="{!objDataWrapper.lstItems}" var="LineItemData">
                        <apex:variable var="rowNum" value="{!rowNum - 1}"/>
                            <tr>
                                <!-- Updated by Sweta :30/03/2015 :ER-0029 :: ADDED width:30% to style Attribute-->
                                <td style='border-style:none;width:30%;'>
                                    <!-- Updated by Sweta :30/03/2015 :ER-0029 :: UPDATED  width=20px to width:30% -->
                                    <div width="30%" style="border-style:none;">&nbsp;</div>
                                </td>
                                <td style='border-style:none;'>
                                     <!-- Updated by Sweta :30/03/2015 :ER-0029 :: uPDATE border-left-style:Dotted; to border-left-style:solid; -->
                                    <div style="border-left-width: 3px;border-left-style:solid;border-left-color: black;height:20px;width:100%;" >&nbsp;
                                    </div>
                                </td>
                            </tr>
                            <tr style='border-style:none;'>
                                <td width="20px" style="border-style:none;">
                                    <div>&nbsp;</div>
                                </td>
                                <td width="200px" style='border-style:none;'>
                                    <!-- Updated by Sweta :30/03/2015 :ER-0029 :: uPDATE border-left-style:Dotted; to border-left-style:solid; and border-bottom-style: dotted TO border-bottom-style:solid -->
                                    <div style="border-left-width: 3px;border-left-style:solid;border-left-color: black;border-bottom-width: 3px;;border-bottom-style:solid;border-bottom-color: black;height:39px;width:100%;" >&nbsp;
                                    </div>
                                    <apex:outputText rendered="{!IF(rowNum>0,true,false)}">
                                    <!-- Updated By Rakesh : 31 Oct 2013 : ER-530 :: Update height:39px; to height:56px;  -->
                                    <!-- Updated by Sweta :30/03/2015 :ER-0029 :: uPDATE border-left-style:Dotted; to border-left-style:solid;height:56px; to height:59px;-->
                                    <div  style="border-left-width: 3px;;border-left-style: solid;border-left-color: black;height:59px;width:100%;">&nbsp;
                                    </div>
                                    </apex:outputText>
                                </td>
                                <td nowrap="nowrap" style='border-style:none;'> 
                                    <div class="productcontainer" style="width:100%;" onmouseover="this.style.cursor='pointer'" onclick="window.open('/'+ '{!LineItemData.LineItemId }', '');">
                                        <b class="prrtop">
                                            <b class="r1pr"></b> 
                                            <b class="r2pr"></b> 
                                            <b class="r3pr"></b> 
                                            <b class="r4pr"></b>
                                        </b>

                                           <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                             <tr>
                                               <td align="right">&nbsp;<apex:image url="/resource/1334241618000/CM_Check" width="20px" height="15px" rendered="{!LineItemData.isActive}"/>
                                                 <apex:image width="20px" height="15px" url="/resource/1334241749000/CM_Cross" rendered="{!NOT(LineItemData.isActive)}"/>
                                               </td>
                                             </tr>
                                           </table>
                                           &nbsp;<b>{!$label.Product_Name}:</b> {!LineItemData.ProductName}<br/>
                                           <!-- Updated By Rakesh : 15 Nov 2013 : Issue-3166(ER-530) :: Place Attach Number b/w Product Name and Net Price -->
                                           &nbsp;<b>{!$label.Attach_Number}:</b> {!LineItemData.attachNumber}<br/>
                                           &nbsp;<b>{!$label.Net_Price}:</b> {!LineItemData.ISOCode}&nbsp; <apex:outputText value="{0, number, ###,##0}">
                                           <apex:param value="{!LineItemData.objALI.Net_Price__c}" /></apex:outputText> <br/>
                                           <!-- Updated By Rakesh : 31 Oct 2013 : ER-530 :: Add Attach Number from Agreement Product Node -->
                                           <!-- Updated By Rakesh : 15 Nov 2013 : Issue-3166(ER-530) :: Place Attach Number b/w Product Name and Net Price -->
                                           <!-- &nbsp;<b>{!$label.Attach_Number}:</b> {!LineItemData.attachNumber}<br/> -->
                                           <!-- End : ER-530 -->
                                           &nbsp;<b>{!$label.Contract_End_Date}:</b> <apex:outputText value="{0,date,yyyy/MM/dd}"><apex:param value="{!LineItemData.objALI.Contract_End_Date__c}" /></apex:outputText><br/>
                                           <!-- ER-0103 Active ,Inactive based on Termination date  -->
                                           &nbsp;<b>{!$label.Termination_Date_Pro}:</b> <apex:outputText value="{0,date,yyyy/MM/dd}"><apex:param value="{!LineItemData.objALI.Termination_Date__c}" /></apex:outputText><br/> 
                                           <b class="prrbottom">
                                           <b class="r4pr"></b> 
                                           <b class="r3pr"></b> 
                                           <b class="r2pr"></b> 
                                           <b class="r1pr"></b>
                                        </b>
                                    </div>
                                    <br/>
                                </td>
                                
                            </tr>
                            
                        </apex:repeat>
                        <br/>
                        </table>
                    </td>
                </tr>
            </apex:repeat>
        </table>
    </apex:outputPanel>
</apex:pageblocksection>
 </apex:outputPanel>   
</apex:pageBlock>

</apex:form>

<script>
setFocus = function() { return; }
</script>
</apex:page>