<apex:page standardController="OpportunityLineItem" sidebar="false" extensions="MIBNF_ProductControllerLockedGrid" action="{!ProductCheck}" tabStyle="MIBNF2__c" id="thePage" standardStylesheets="true">
<c:AutoCompleteWidget />
<c:JQueryBlockUI />
    <!-- Added by Dheeraj -- Issue-10593 -- 23 march 2017 -- Start -->
    <apex:outputpanel id="jsautocomplete">
         <style>
            .ui-autocomplete {
                max-height: 100px;
                max-width: 200px;
                overflow-y: auto;
                /* prevent horizontal scrollbar */
                overflow-x: hidden;
            }
            
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
            * html .ui-autocomplete {
                height: 100px;
            }
        </style> 
        <script type="text/javascript"> 
            var revenueCountryLeftPartId = "#thePage\\:theForm\\:theBlock\\:cm\\:comp\\:nlkdrptblk\\:";
            var revenueCountryRightPartId = "\\:nlkddatatbl\\:0\\:col21";
            
            $( function() {
                var listJSON = {!isProfitCenterReadOnlyListJSON};
                var size = '{!opptyLineItem2.size}';
                for(i = 0 ; i < size ; i++) {
                    $( revenueCountryLeftPartId + i + revenueCountryRightPartId ).combobox();
                    $( revenueCountryLeftPartId + i + revenueCountryRightPartId ).next().width('180px');
                    // ritesh gupta
                    $('.ui-autocomplete-input').focusout(
                    	function(e){ 
                    		var autocomplete = $(this).data("autocomplete");
                    		autocomplete.selectedItem = this.value;
                    		return false;
                   		}
                    );
                    
                    if(listJSON[i]) {
                        $(revenueCountryLeftPartId + i + revenueCountryRightPartId).next().attr('disabled','disabled');
                        $(revenueCountryLeftPartId + i + revenueCountryRightPartId).next().next().attr('disabled','disabled');
                        $(revenueCountryLeftPartId + i + revenueCountryRightPartId).next().css('opacity','0.5');
                        $(revenueCountryLeftPartId + i + revenueCountryRightPartId).next().next().css({'opacity':'0.5','pointer-events':'none'});
                    }
                }
                
                    
            }); 
            function setRevenueCountryId() {
                YUIShowLoading();
                
                var jsonMap = '{!revenueCountryMapJSON}';
                var jsonKeys = Object.keys(jsonMap);
                var size = '{!opptyLineItem2.size}';
                for(i = 0 ; i < size ; i++) {
                    var revenueCountry = $( revenueCountryLeftPartId + i + revenueCountryRightPartId ).next().val();
                    if(revenueCountry != null && revenueCountry != '' && jsonKeys.indexOf(revenueCountry) == -1) {
                        alert("Incorrect Profit Center \'" + revenueCountry + "\'");
                        YUIHideLoading();
                        return false;
                    } 
                }
                saveNow();
            }
        </script>
    </apex:outputpanel>
    <!-- Added by Dheeraj -- Issue-10593 -- 23 march 2017 -- End -->
 <script type="text/javascript"> 
  var txtId = '';
  function openLookup(baseURL, width, modified, searchParam){
    var originalbaseURL = baseURL;
    var originalwidth = width;
    var originalmodified = modified;
    var originalsearchParam = searchParam;
 
    var lookupType = baseURL.substr(baseURL.length-3, 3);
    if (modified == '1') baseURL = baseURL + searchParam;
 
    var isCustomLookup = false;
 
    // Following "a1A" is the lookup type for Address object
    var addressPrefix = '{!addressPrefix}';
    if(lookupType == addressPrefix){
      
      var urlArr = baseURL.split("&");
      
      if(urlArr.length > 2) {
        urlArr = urlArr[1].split('=');
        txtId = urlArr[1];
      }
 
      // Following is the url of Custom Lookup page. You need to change that accordingly
      baseURL = "/apex/MI_BNF_OLI_Address_Selector?txt=" + txtId + '&id={!MIBNF_Comp.id}';
 
      // Following is the id of apex:form control "theForm". You need to change that accordingly
      baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.theForm}");
      if (modified == '1') {
        baseURL = baseURL + "&lksearch=" + searchParam;
      }
 
      // Following is the ID of inputField that is the lookup to be customized as custom lookup
      if(txtId.indexOf('CAddress') > -1 ){
        isCustomLookup = true;
       
      }
    }
 
    //override SFDC lookup window
    if(isCustomLookup == true){
       var addressdetails='&lookup=false';
       
       if(document.getElementById(decodeURIComponent(txtId) + '_lkid').value!='' && document.getElementById(decodeURIComponent(txtId) + '_lkid').value!='000000000000000')
       {
         addressdetails='&lookup=true';
         addressdetails= '&addressid='+ document.getElementById(decodeURIComponent(txtId) + '_lkid').value;
         addressdetails=addressdetails+ '&addressname='+ encodeURIComponent(document.getElementById(decodeURIComponent(txtId)).value);
       }
       if(document.getElementById(decodeURIComponent(decodeURIComponent(txtId)) + '1_lkid').value!='' && document.getElementById(decodeURIComponent(txtId) + '1_lkid').value!='000000000000000')
       {
          addressdetails=addressdetails + '&sapaddressid='+document.getElementById(decodeURIComponent(txtId) + '1_lkid').value;
          addressdetails=addressdetails+ '&sapaddressname='+encodeURIComponent(document.getElementById(decodeURIComponent(txtId) + '1').value);
       }
       
       openPopup(baseURL + addressdetails, "lookup", 500, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
                             
       
    }
    else {
      if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
        openPopup(originalbaseURL, "lookup", 500, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    } 
  }
    //Receive data from custom lookup and fill 
    window.receiveDataFromPopup = function(data) {
        if(data != null)
       {
            if(data[0]!=null && data[0]!='')
            {
                document.getElementById(decodeURIComponent(txtId) + '_lkid').value=data[0];
                document.getElementById(decodeURIComponent(txtId) + '_lkold').value=data[1];
                document.getElementById(decodeURIComponent(txtId) + '_mod').value=1;
                document.getElementById(decodeURIComponent(txtId)).value=data[1];

            }
            else
            {
                document.getElementById(decodeURIComponent(txtId) + '_lkid').value='';
                document.getElementById(decodeURIComponent(txtId) + '_lkold').value='';
                document.getElementById(decodeURIComponent(txtId) + '_mod').value=0;
                document.getElementById(decodeURIComponent(txtId)).value='';
            }
            
            if(data[2]!=null && data[2]!='')
            {
                document.getElementById(decodeURIComponent(txtId) + '1_lkid').value=data[2];
                document.getElementById(decodeURIComponent(txtId) + '1').value=data[3];
                document.getElementById(decodeURIComponent(txtId) + '1_lkold').value=data[3];
                document.getElementById(decodeURIComponent(txtId) + '1_mod').value=1;
               
            }
            else
            {
                document.getElementById(decodeURIComponent(txtId) + '1_lkid').value='';
                document.getElementById(decodeURIComponent(txtId) + '1').value='';
                document.getElementById(decodeURIComponent(txtId) + '1_lkold').value='';
                document.getElementById(decodeURIComponent(txtId) + '1_mod').value=0;
            }
            
        }
};

var TotalPricefordiscount;
var Discountcolid;
var RevisedPriceUpdate;
function jslistprice(salesprice,colid,col,isRevised)
{

document.getElementById(colid.substring(0,colid.lastIndexOf(":")+1) + 'DiscountStatus.start').style.display='block';
Discountcolid=colid;
TotalPricefordiscount=salesprice;
RevisedPriceUpdate=isRevised;
var index= colid.substr(colid.indexOf("nlkdrptblk") + 11,(colid.indexOf("nlkddatatbl")-1)-(colid.indexOf("nlkdrptblk") + 11));
var regex = new RegExp(" ", 'g');
var finalprice= document.getElementById(colid).value;
finalprice=finalprice.replace(/\s+/g, '');
setListPrice(finalprice,index,isRevised);
//Disable the rest of the
 $(".listpricecls").each(function() {
     
    document.getElementById($(this).attr('id')).disabled=true;
 
 
 });
 
 $(".revisedpricecls").each(function() {
     
   document.getElementById($(this).attr('id')).disabled=true;
 
 });
return false;
}

function actioncomplete()
{
 $(".listpricecls").each(function() {
     
   document.getElementById($(this).attr('id')).disabled=false;
 
 });
 
 $(".revisedpricecls").each(function() {
     
   document.getElementById($(this).attr('id')).disabled=false;
 
 });
document.getElementById(Discountcolid.substring(0,Discountcolid.lastIndexOf(":")+1) + 'DiscountStatus.start').style.display='none';
//calculateDiscount(TotalPricefordiscount,Discountcolid,'col10',RevisedPriceUpdate);

return false;
}

</script>
<apex:outputpanel id="jspanel">
<script>
$(document).ready(function() {
        $(".SAPContact").each(function() {
          $(this).attr('readOnly','true');
          $(this).next().next().css('display','none');
        });
        
        
            var i=0;
            var j=0;
            var locale='{!LocalekeyFormat}';
            $(".listpricecls").each(function() {
             
              var RevisedPrice='';
              if(document.getElementById("thePage:theForm:theBlock:cm:comp:rptblk:" + i + ":datatbl:0:col19")!=null)
                RevisedPrice=document.getElementById("thePage:theForm:theBlock:cm:comp:rptblk:" + i + ":datatbl:0:col19").value;

              if($(this).val()!='' && RevisedPrice=='')
              {
                  var salesprice=document.getElementById("thePage:theForm:theBlock:cm:comp:rptblk:" + i + ":datatbl:0:salesprice").getAttribute("title");
                  var listpricestr=$(this).val();
                  var salespricestr=salesprice;
                  //$(this).val(listpricestr.replace(/\s+/g, ''));
                  if(locale=='Locale_Format1')
                  {
                     listpricestr=listpricestr.replace(",","");
                     salespricestr=salespricestr.replace(",","");
                   
                  }
                  if(locale=='Locale_Format2')
                  {
                     listpricestr=listpricestr.replace(".","");
                     listpricestr=listpricestr.replace(",",".");
                     salespricestr=salespricestr.replace(",",".");
                     
                  }
                  
                  if(locale=='Locale_Format3')
                  {
                    listpricestr=listpricestr.replace("'","");
                    salespricestr=salespricestr.replace("'","");
                  //  console.log('*******calc 9.0****'+ locale);
                  }
                  
                  if(locale=='Locale_Format4')
                  {
                     listpricestr=listpricestr.replace(/\s+/g, '');
                     listpricestr=listpricestr.replace(",",'.');
                     salespricestr=salesprice.replace(/\s+/g, '');
                     salespricestr=salespricestr.replace(",",'.');
                   //  console.log('*******calc 9.0****'+ locale);
                  }
                  
                  if(locale=='Locale_Format5')
                  {
                     listpricestr=listpricestr.replace(",",'');
                     listpricestr=listpricestr.replace("\\",'.');
                     salespricestr=salesprice.replace(",",'');
                     salespricestr=salespricestr.replace("\\",'.');
                   //  console.log('*******calc 9.0****'+ locale);
                  }
                  
                  if(locale=='Locale_Format6')
                  {
                     listpricestr=listpricestr.replace(/\s+/g, '');
                     listpricestr=listpricestr.replace("-",'.');
                     salespricestr=salesprice.replace(/\s+/g, '');
                     salespricestr=salespricestr.replace("-",'.');
                  //   console.log('*******calc 9.0****'+ locale);
                  }
                  
                  if(locale=='Locale_Format7')
                  {
                     listpricestr=listpricestr.replace(" ",'');
                     salespricestr=salespricestr.replace(" ",'');
                    // console.log('*******calc 9.0****'+ locale);
                  }
                  
                  if((parseFloat(listpricestr) - parseFloat(salespricestr))==0)
                  {
                    if(document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + i + ":nlkddatatbl:0:col10")!=null)
                    {
                        document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + i + ":nlkddatatbl:0:col10").selectedIndex = 0; 
                        document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + i + ":nlkddatatbl:0:col10").disabled=true; 
                    }
                  }
                  
                discountpercentage= document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + i + ":nlkddatatbl:0:col8");
                var calculatedpercentage= new Number(parseFloat(((parseFloat(listpricestr)-parseFloat(salespricestr))/parseFloat(listpricestr))*100));
               // console.log('*******Discount Cal***page****2.0*******'+ listpricestr + '******'+ salespricestr + '******'+calculatedpercentage);
                if(calculatedpercentage>0)
                    discountpercentage.innerHTML=calculatedpercentage.toPrecision(4) + '%';
                else
                   discountpercentage.innerHTML='';
                  
                 
              }
              else
              {
                  document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + i + ":nlkddatatbl:0:col8").innerHTML='';
                  
              }
              
              i++;
            });
        
        
            //Revised price function
            $(".revisedpricecls").each(function() {
             
              if($(this).val()!='')

              {
                  var salesprice=$(this).val();
                 
                  var listpricestr=document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col7").value;
                  var salesprice=$(this).val();
                  var salespricestr=salesprice;
                  if(locale=='Locale_Format1')
                  {
                     listpricestr=listpricestr.replace(",","");
                     salespricestr=salespricestr.replace(",","");
                    
                  }
                  if(locale=='Locale_Format2')
                  {
                     listpricestr=listpricestr.replace(".","");
                     listpricestr=listpricestr.replace(",",".");
                     salespricestr=salespricestr.replace(".","");
                     salespricestr=salespricestr.replace(",",".");
                  
                  }
                  
                  if(locale=='Locale_Format3')
                  {
                    listpricestr=listpricestr.replace("'","");
                    salespricestr=salespricestr.replace("'","");
                 
                  }
                  
                  if(locale=='Locale_Format4')
                  {
                     listpricestr=listpricestr.replace(/\s+/g, '');
                     listpricestr=listpricestr.replace(",",'.');
                     salespricestr=salesprice.replace(/\s+/g, '');
                     salespricestr=salespricestr.replace(",",'.');
                  
                  }
                  
                  if(locale=='Locale_Format5')
                  {
                     listpricestr=listpricestr.replace(",",'');
                     listpricestr=listpricestr.replace("\\",'.');
                     salespricestr=salesprice.replace(",",'');
                     salespricestr=salespricestr.replace("\\",'.');
                  
                  }
                  
                  if(locale=='Locale_Format6')
                  {
                     listpricestr=listpricestr.replace(/\s+/g, '');
                     listpricestr=listpricestr.replace("-",'.');
                     salespricestr=salesprice.replace(/\s+/g, '');
                     salespricestr=salespricestr.replace("-",'.');
                 
                  }
                  
                  if(locale=='Locale_Format7')
                  {
                     listpricestr=listpricestr.replace(" ",'');
                     salespricestr=salespricestr.replace(" ",'');
                   
                  }
                 
                  if((parseFloat(listpricestr) - parseFloat(salespricestr))==0)
                  {
                      if(document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col10")!=null)
                      {
                            document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col10").selectedIndex = 0; 
                            document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col10").disabled=true; 
                      }
                  }
                  else
                  {
                      if(document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col10")!=null)
                          document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col10").disabled=false; 
                  }

                discountpercentage= document.getElementById("thePage:theForm:theBlock:cm:comp:nlkdrptblk:" + j + ":nlkddatatbl:0:col8");
                var calculatedpercentage= new Number(parseFloat(((parseFloat(listpricestr)-parseFloat(salespricestr))/parseFloat(listpricestr))*100));
               // console.log('*******Discount Cal***page***2.0********'+ listpricestr + '******'+ salespricestr + '******'+calculatedpercentage);
                if(calculatedpercentage>0)
                    discountpercentage.innerHTML=calculatedpercentage.toPrecision(4) + '%';
                else
                   discountpercentage.innerHTML='';
                  
                 
              }
              
              j++;
              
        });

        
        $(".discountreason").each(function() {
            
            colid='col10';
            var thisid= $(this).attr('id');
            var currentval=$(this).val();
            if(document.getElementById(thisid.substring(0,thisid.lastIndexOf(":")+1) + 'surchargehidden')!=null &&
            document.getElementById(thisid.substring(0,thisid.lastIndexOf(":")+1) + 'surchargehidden')!='')
            {
                  var selecteditem =document.getElementById(thisid.substring(0,thisid.lastIndexOf(":")+1) + colid)
                  var exists = false;
                  var itemindex = 0;
                  
                  if(selecteditem.options!=null)
                  {
                        for (indexitem = 1 ; indexitem  <= selecteditem .options.length - 1 ; indexitem ++ )
                        {
                                if (selecteditem.options[indexitem ].value ==document.getElementById(thisid.substring(0,thisid.lastIndexOf(":")+1) + 'surchargehidden').value)
                                {
                                    exists = true;
                                    itemindex=indexitem;
                                    break;
                                }
                        }
                                
                         if(exists) {
                            document.getElementById(thisid.substring(0,thisid.lastIndexOf(":")+1) + colid).remove(itemindex);
                        }
                  }
                
            
            }
     
        });
        
});


</script>
</apex:outputpanel>    
    <apex:sectionHeader title="Multi Invoice BNF Opportunity Products">
        <apex:form id="theForm">
        <!--a href="javascript:(window.open('/apex/BNFGlossary','width=20','height=500'))">Click Here for the Glossary/a-->
        <a href="/servlet/servlet.FileDownload?file={!glossaryDocumentId}" target="_blank">For further explanation, click here for glossary</a>
            <apex:pageBlock id="theBlock">
            <apex:pageMessages id="Mess"/>
            <apex:pageBlockButtons rendered="{!ErrorFlag}" location="bottom">
                <apex:commandButton value="Ok" action="{!URLFOR('/apex/MI_BNF_View' & '?id=' & MIBNFID)}"></apex:commandButton>
            </apex:pageBlockButtons>
            
            <apex:pageBlockButtons rendered="{!NOT(ErrorFlag)}" >
            		<!-- Updated by Dheeraj -- Issue-10593 -- 23 march 2017  -->
               	<apex:actionFunction action="{!save}" reRender="theBlock,jspanel,jsautocomplete" name="saveNow" onComplete="YUIHideLoading();"/>
                <apex:commandButton value="Save" onclick="this.blur();setTimeout(setRevenueCountryId, 500);" reRender="dummy"></apex:commandButton>
                <apex:commandButton value="Cancel" action="{!cancel}"  onclick="YUIShowLoading()" ></apex:commandButton>
            </apex:pageBlockButtons>
            <apex:outputpanel id="dummy"/>
            <apex:pageBlockSection columns="3" id="theGrid" showHeader="false" rendered="{!NOT(ErrorFlag)}">
                               <apex:pageBlockSectionItem >
                                        <apex:outputpanel >
                                        <apex:outputLabel value="Contract Start Date:"></apex:outputLabel>
                                        <apex:outputfield value="{!MIBNF_Comp.MIBNF__r.Contract_Start_Date__c}"/><br/><br/>
                                        <apex:outputLabel value="Contract End Date:"></apex:outputLabel>
                                        <apex:outputfield value="{!MIBNF_Comp.MIBNF__r.Contract_End_Date__c}"/>
                                        </apex:outputpanel>
                              </apex:pageBlockSectionItem>
                              
                              <apex:pageBlockSectionItem >
                                    <apex:pageBlockSectionItem > &nbsp;</apex:pageBlockSectionItem>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                              
                             </apex:pageBlockSectionItem>
                                       
           </apex:pageBlockSection>
            
            <c:LockedGridComponent lokcedColList="{!lokcedColList}" unLockedColList="{!unLockedColList}" idHierarchy="{!$Component.thePage.theForm.theBlock.cm}"
                                           objItemList="{!opptyLineItem2}" var="opptyLineItem" totalUnLockedWidthtopass="totalUnLockedWidth" id="cm" rendered="{!NOT(ErrorFlag)}">
            
                <apex:dataTable var="opptyLineItem" styleClass="list" cellspacing="0" cellpadding="0" border="0" onRowMouseOver="hiOn(this);" onRowMouseOut="hiOff(this);"
                                                                  value="{!act}" width="{!totalUnLockedWidth - 3}px;" id="nlkddatatbl" rowClasses="mycolheight"> 
                    <!-- <apex:column width="{!unLockedColList[0].colWidth - 1}" >
                        <apex:outputText value="{!opptyLineItem.PricebookEntry.Name}" id="col0"/>
                    </apex:column> -->
                    <apex:column width="{!unLockedColList[0].colWidth - 1}">
                        <apex:inputField required="{!opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZPUB'}" id="col0" onchange="replicateCheck('col0','{!unLockedColList[0].colHdrId}')" value="{!opptyLineItem.Product_Start_Date__c}" style="text-align:right"/>
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[1].colWidth - 1}">                    
                        <apex:inputField required="{!opptyLineItem.PricebookEntry.Product2.Material_Type__c=='ZPUB'}" id="col1" onchange="replicateCheck('col1','{!unLockedColList[1].colHdrId}')" value="{!opptyLineItem.Product_End_Date__c}" style="text-align:right" />
                    </apex:column>
                    
                    <!-- Added By Himanshu Parashar : 13 dec 2012 : selected Delivery media and Frequency -->
                    
                    <apex:column width="{!unLockedColList[2].colWidth - 1}">
                        <apex:actionRegion renderRegionOnly="true">
                          <!--   <apex:inputField onchange="replicateCheck('col3','{!unLockedColList[2].colHdrId}')" value="{!opptyLineItem.Delivery_Media__c}"  style="width : {!unLockedColList[2].colWidth - 10}px;" id="col2" required="true" />
                           -->
                            <div class="requiredInput"><div class="requiredBlock"></div>
                                    <apex:selectList id="col2" value="{!opptyLineItem.Delivery_Media__c}" multiselect="false" size="1" required="true" style="width : {!unLockedColList[2].colWidth - 10}px;" onchange="replicateCheck('col3','{!unLockedColList[2].colHdrId}')">
                                            <apex:selectOptions value="{!DeliveryMedia_Map[opptyLineItem.id]}"></apex:selectOptions>
                                    </apex:selectList>
                            </div>
                        </apex:actionRegion>
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[3].colWidth - 1}">
                    <!--   <apex:inputField onchange="replicateCheck('col4','{!unLockedColList[3].colHdrId}')" value="{!opptyLineItem.Proj_Rpt_Frequency__c}" style="width : {!unLockedColList[3].colWidth - 10}px;" id="col3" required="true"/>  -->  
                    
                        <div class="requiredInput"><div class="requiredBlock"></div>
                                    <apex:selectList value="{!opptyLineItem.Proj_Rpt_Frequency__c}" multiselect="false" size="1" required="true" style="width : {!unLockedColList[3].colWidth - 10}px;" id="col3" onchange="replicateCheck('col4','{!unLockedColList[3].colHdrId}')">
                                            <apex:selectOptions value="{!DeliveryFrequency_Map[opptyLineItem.id]}"></apex:selectOptions>
                                    </apex:selectList>
                            </div>
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[4].colWidth - 1}">
                        <apex:inputField onchange="replicateCheck('col4','{!unLockedColList[4].colHdrId}')" style="width : {!unLockedColList[4].colWidth - 10}px;" value="{!opptyLineItem.Billing_Frequency__c}" id="col4" required="true" />
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[5].colWidth - 1}"> 
                        <apex:inputField value="{!opptyLineItem.Sales_Text__c}" id="col5" />
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[6].colWidth - 1}">
                        <apex:inputField value="{!opptyLineItem.PO_Number__c}" id="col6" />
                    </apex:column>
                    <!---  YLi add List Price ---->
                   <apex:column width="{!unLockedColList[7].colWidth - 1}"> 
                      <!--   <apex:inputField onchange="DiscountCheck({!opptyLineItem.List_Price__c})" style="width : {!unLockedColList[7].colWidth - 15  }px;" value="{!opptyLineItem.List_Price__c}" id="col7" required="{!(opptyLineItem.PricebookEntry.Product2.Offering_Type__c !='Management Consulting') 
                                          && (opptyLineItem.PricebookEntry.Product2.Offering_Type__c !=$Label.CES_TOT_Offering_Type)}"/> -->
                       <div class="{!if((opptyLineItem.PricebookEntry.Product2.Offering_Type__c !='Management Consulting') 
                                        && (opptyLineItem.PricebookEntry.Product2.Offering_Type__c !=$Label.CES_TOT_Offering_Type) && US_SalesOrg == false,'requiredInput','')}">
                            <div class="{!if((opptyLineItem.PricebookEntry.Product2.Offering_Type__c !='Management Consulting') 
                                        && (opptyLineItem.PricebookEntry.Product2.Offering_Type__c !=$Label.CES_TOT_Offering_Type) && US_SalesOrg == false,'requiredBlock','')}"></div>   
                            
                      <apex:inputField onchange="return jslistprice({!ROUND(opptyLineItem.Totalprice,2)},this.id,'col10',0);" styleclass="listpricecls" value="{!opptyLineItem.List_Price__c}" id="col7" style="width : {!unLockedColList[7].colWidth - 15  }px;">
                        </apex:inputField>
                        
                        </div>                   
                    </apex:column>
                    
                    <!---  end of YLi add List Price ---->
                    
                    <apex:column width="{!unLockedColList[8].colWidth - 1}">
                        <apex:outputField value="{!opptyLineItem.Discount_Percentage_Formula__c}" id="col8" />
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[9].colWidth - 1}"> 
                      <!--   <apex:outputField value="{!opptyLineItem.Discount_Amount_Formula__c}" id="col9"/> -->
                          <apex:outputPanel id="Discountpanel">
                                <apex:outputtext value="{!opptyLineItem.CurrencyISOCode} {!if(Text(opptyLineItem.List_Price__c)=='','0.0',if(!MIBNF_Comp.Addendum__c || (opptyLineItem.Revised_Price__c==null || ISblank(opptyLineItem.Revised_Price__c)),NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Totalprice,2),0),NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Revised_Price__c,2),0)))}" id="col9"></apex:outputtext> 
                         
                          </apex:outputPanel>
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[10].colWidth - 1}">                                
                           <apex:outputPanel id="Discountreasonpanel" style="float:left;">

                            <div class="{!if((MIBNF_Comp.Addendum__c && (!isblank(opptyLineItem.Revised_Price__c))),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Revised_Price__c,2),0)) == 0.00||((opptyLineItem.PricebookEntry.Product2.Offering_Type__c =='Management Consulting' ||opptyLineItem.PricebookEntry.Product2.Offering_Type__c ==$Label.CES_TOT_Offering_Type)&&(TEXT(opptyLineItem.List_Price__c)=='')),'','requiredInput'),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.TotalPrice,2),0)) == 0.00||((opptyLineItem.PricebookEntry.Product2.Offering_Type__c =='Management Consulting' ||opptyLineItem.PricebookEntry.Product2.Offering_Type__c ==$Label.CES_TOT_Offering_Type)&&(TEXT(opptyLineItem.List_Price__c)=='')),'','requiredInput'))}">
                            <div class="{!if((MIBNF_Comp.Addendum__c && (!isblank(opptyLineItem.Revised_Price__c))),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Revised_Price__c,2),0)) == 0.00||((opptyLineItem.PricebookEntry.Product2.Offering_Type__c =='Management Consulting' ||opptyLineItem.PricebookEntry.Product2.Offering_Type__c ==$Label.CES_TOT_Offering_Type)&&(TEXT(opptyLineItem.List_Price__c)=='')),'','requiredBlock'),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.TotalPrice,2),0)) == 0.00||((opptyLineItem.PricebookEntry.Product2.Offering_Type__c =='Management Consulting' ||opptyLineItem.PricebookEntry.Product2.Offering_Type__c ==$Label.CES_TOT_Offering_Type)&&(TEXT(opptyLineItem.List_Price__c)=='')),'','requiredBlock'))}"></div>   
                            
                            <apex:inputField styleclass="discountreason" value="{!opptyLineItem.Discount_Reason__c}"
                            rendered="{!if(opptyLineItem.Revised_Price__c==null || ISblank(opptyLineItem.Revised_Price__c),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.TotalPrice,2),0)) >= 0,true,false),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Revised_Price__c,2),0)) >= 0,true,false))}" style="width : {!unLockedColList[10].colWidth - 40}px;" id="col10" onchange="replicateCheck('col10','{!unLockedColList[10].colHdrId}')"/>
                            
                            <apex:inputfield id="surchargetext" value="{!opptyLineItem.Surcharge_Text__c}"
                            rendered="{!if(opptyLineItem.Revised_Price__c==null || ISblank(opptyLineItem.Revised_Price__c),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.TotalPrice,2),0)) < 0,true,false),if((NULLVALUE(ROUND(opptyLineItem.List_Price__c,2),0) - NULLVALUE(ROUND(opptyLineItem.Revised_Price__c,2),0)) < 0,true,false))}"/>
                            </div>
                           <apex:inputhidden value="{!SurchargetextMap[opptyLineItem.id]}" id="surchargehidden"/>
                            </apex:outputPanel>
                             <apex:actionStatus id="DiscountStatus">
                                  <apex:facet name="start">
                                        <apex:outputPanel > 
                                             <img src="/apexpages/devmode/img/saveStatus.gif" />
                                         </apex:outputPanel>
                                  </apex:facet>
                               <apex:facet name="stop">
                                     
                              </apex:facet>
                            </apex:actionStatus>
                         </apex:column>
                     
                    <apex:column width="{!unLockedColList[11].colWidth - 1}">
                        <apex:inputField onchange="replicateCheck('col11','{!unLockedColList[11].colHdrId}')" style="width : {!unLockedColList[11].colWidth - 20}px;" value="{!opptyLineItem.Nbr_of_Users__c}" id="col11"/>
                    </apex:column>
                    
                    <apex:column width="{!unLockedColList[12].colWidth - 1}">
                           <!--   <apex:inputField onchange="replicateCheck('col12','{!unLockedColList[12].colHdrId}')" value="{!opptyLineItem.Other_Ship_To__c}" style="width : {!unLockedColList[12].colWidth - 20 }px;" id="col12"/> -->
                          <apex:inputField value="{!opptyLineItem.Other_Ship_To_Address__c}" id="CAddress"/><br/>
                           <apex:inputField value="{!opptyLineItem.Other_Ship_To_SAP_Contact__c}" id="CAddress1" styleclass="SAPContact"/>
                    </apex:column>
                    <!--Billing Date, Sales Type, Revenue Type, Invoice Lag to Data Period - Robert -->
                    <apex:column id="ColumnBilling" width="{!unLockedColList[13].colWidth - 1}">
                        <apex:inputField value="{!opptyLineItem.Billing_Date__c}" 
                            onblur="this.x = 0;this.onfocus = function (){DatePicker.pickDate(true, this.id, false);}"
                            onclick="if( !(this.x == 1)) {getElementById('datePicker').style.left = (event.clientX) + 'px'; this.x = 1; this.onfocus = this.onclick;} else {this.x = 0; this.onfocus = function (){DatePicker.pickDate(true, this.id, false);} }"
                            required="{! (opptyLineItem.Revenue_Type__c='Ad Hoc')  || (opptyLineItem.Billing_Frequency__c='Once')}" id="col13"/>
                    </apex:column>
                    <apex:column id="ColumnDeliveryDate" width="{!unLockedColList[14].colWidth - 1}">
                        <apex:outputPanel id="DeliveryDate" >    
                            <apex:inputField value="{!opptyLineItem.Delivery_Date__c}" 
                                onblur="this.x = 0;this.onfocus = function (){DatePicker.pickDate(true, this.id, false);}"
                                onclick="if( !(this.x == 1)) {getElementById('datePicker').style.left = (event.clientX) + 'px'; this.x = 1; this.onfocus = this.onclick;} else {this.x = 0; this.onfocus = function (){DatePicker.pickDate(true, this.id, false);} }"
                                required="{!opptyLineItem.Revenue_Type__c=='Ad Hoc'}" id="col14"/>
                        </apex:outputPanel>    
                    </apex:column>
                    <apex:column width="{!unLockedColList[15].colWidth - 1}"> 
                        <apex:inputField value="{!opptyLineItem.Sale_Type__c}" style="width : {!unLockedColList[15].colWidth - 10}px;" id="col15" required="true"/>
                    </apex:column>
                    <apex:column width="{!unLockedColList[16].colWidth - 1}">
                        <apex:actionRegion >
                            <apex:inputField value="{!opptyLineItem.Revenue_Type__c}" id="col16" style="width : {!unLockedColList[16].colWidth - 10}px;" required="true" >
                                <apex:actionSupport event="onchange" rerender="BillingDate" immediate="false"/>
                            </apex:inputField>
                        </apex:actionRegion>    
                    </apex:column>
                    <apex:column width="{!unLockedColList[17].colWidth - 1}">
                        <apex:inputField value="{!opptyLineItem.Invoice_Lag_to_Data_Period__c}" style="width : {!unLockedColList[17].colWidth - 10}px;" id="col17"/>
                    </apex:column>
                    <!--end of Billing Date, Sales Type, Revenue Type, Invoice Lag to Data Period - Robert -->
                    
                    <!-- Added By Sneha Rathi : 19 dec 2012 : Adding column of Therapy_Area field - ER:0303-->
                    <!--Updated by Dheeraj -- Issue-11063 -- 11 July 2017-->
                    <apex:column width="{!unLockedColList[18].colWidth - 1}">
                        <!--  <apex:inputField value="{!opptyLineItem.Therapy_Area__c}" style="width : {!unLockedColList[18].colWidth - 10}px;" id="colTA" required="true"/>-->
                        <apex:selectList id="therapyAreaOptions" styleClass="clsTherapy_Area" value="{!opptyLineItem.Therapy_Area__c}" multiselect="false" size="1" required="true" style="width : {!unLockedColList[18].colWidth - 10}px;">
                        	<apex:selectOptions value="{!oliIdToTherapyAreaOptionsMap[opptyLineItem.id]}"></apex:selectOptions>  
                        </apex:selectList>
                    </apex:column>
                    
                    <!--  Added by Ritesh Gupta : Issue-07072  -->
                    <apex:column width="{!unLockedColList[19].colWidth - 1}">
                        <apex:inputField value="{!opptyLineItem.Audit_Subscription_Status__c}" style="width : {!unLockedColList[18].colWidth - 10}px;" id="colASS" required="{!opptyLineItem.PricebookEntry.Product2.Offering_Type__c == 'National Tracking'}"/>
                        <apex:outputpanel rendered="{!opptyLineItem.PricebookEntry.Product2.Offering_Type__c != 'National Tracking'}">
                            <script type="text/javascript">
                                document.getElementById("{!$Component.colASS}").disabled = true;
                            </script>
                        </apex:outputpanel>
                    </apex:column>
                    
                    	<!-- Added by Dheeraj -- Issue-10593 -- 23 march 2017 -- Start -->
                        <apex:column width="{!unLockedColList[20].colWidth - 1}">
                            <apex:outputPanel styleClass="{!IF(opptyLineItem.Pricebookentry.Product2.Material_Group_1__c =='MAN','requiredInput','')}" layout="block">
                            	<apex:outputPanel styleClass="{!IF(opptyLineItem.Pricebookentry.Product2.Material_Group_1__c =='MAN','requiredBlock','')}" layout="block" />
                               	<apex:selectList value="{!opptyLineItem.ProfitCenter__c}" id="col21" size="1"> 
                                   	<apex:selectOptions value="{!profitCenterOptions}"></apex:selectOptions> 
                               	</apex:selectList> 
                            </apex:outputPanel>
                        </apex:column>
                        <!-- Added by Dheeraj -- Issue-10593 -- 23 march 2017 -- End -->
                    
                    <!---  IBoumaza add Revised Price and Cancel---->
                    <apex:column width="{!unLockedColList[21].colWidth - 1}" rendered="{!MIBNF_Comp.Addendum__c}"> 
                        <apex:inputField value="{!opptyLineItem.Revised_Price__c}" id="col19" onchange="return jslistprice({!ROUND(opptyLineItem.Totalprice,2)},this.id,'col10',1);" styleclass="revisedpricecls"/>
                    </apex:column>
                    <apex:column width="{!IF(MIBNF_Comp.Addendum__c, unLockedColList[22].colWidth - 1,unLockedColList[22].colWidth - 1 )}" rendered="{!MIBNF_Comp.Addendum__c}"> 
                        <apex:inputField value="{!opptyLineItem.MIBNF_Cancel__c}" id="col20"/>
                    </apex:column>
                </apex:dataTable>
            </c:LockedGridComponent>
            </apex:pageBlock>
            <apex:actionFunction name="setListPrice" action="{!CalculateSurcharge}" rerender="Mess,Discountpanel,Discountreasonpanel,jspanel" status="DiscountStatus" immediate="true" oncomplete="return actioncomplete();">
                                    <apex:param id="pricevalue" name="pricevalue" value="" />
                                     <apex:param id="itemindex" name="itemindex" value="" />
                                      <apex:param id="isRevised" name="isRevised" value="" />
                                                                                      
            </apex:actionFunction>
        </apex:form>
    </apex:sectionHeader>
</apex:page>