<apex:page standardController="MIBNF_Component__c" extensions="MIBNF_Reassign_Extension">  
    <apex:form > 
	   <apex:sectionHeader title="Reassign Approval Request" description="" subtitle="MIBNF: {!MIBNFcomp.Name}" />  
	   <apex:pageBlock title="Reassign Approval Request">
	   		<apex:pageMessages ></apex:pageMessages>
	   		<apex:pageBlockSection collapsible="false" title="" columns="2" showHeader="false" id="bsection" >
	            <apex:pageBlockSectionItem rendered="{!!isOwnerQueue}">
	                    <apex:outputLabel value="Related To"/>
	                    <apex:outputLink value="/{!MIBNFcomp.id}">{!MIBNFcomp.Name}</apex:outputLink>
	            </apex:pageBlockSectionItem>
	            <apex:pageBlockSectionItem rendered="{!!isOwnerQueue}">
	                    <apex:outputLabel value="Created By"/>
	                 	<apex:outputField value="{!MIBNFcomp.createdById}" />
	            </apex:pageBlockSectionItem>            
	             <apex:pageBlockSectionItem rendered="{!!isOwnerQueue}">
	             		<apex:outputLabel value="Reassign Approver"/>
	                    <apex:inputField value="{!MIBNFcomp.Reassigned_Comp_Revenue_Analyst__c}" required="true"/>
	            </apex:pageBlockSectionItem>
	            <apex:pageBlockSectionItem rendered="{!!isOwnerQueue}">
	                    <apex:outputLabel value="Assigned Approver"/>
	                     <apex:outputField value="{!MIBNFcomp.Comp_Revenue_Analyst__c}" /> 
	            </apex:pageBlockSectionItem>
	            <apex:pageBlockSectionItem rendered="{!!isOwnerQueue}">
	                    <apex:outputLabel value="Comments"/>
	                    <apex:inputTextarea value="{!ApproverComments}" /> 
	            </apex:pageBlockSectionItem>       
	       </apex:pageBlockSection>
	         <apex:pageBlockButtons >
	         	<apex:commandButton value="Reassign Approval Request" action="{!reassignRA}" rendered="{!!isOwnerQueue}"/> 
	            <apex:commandButton value="{!buttonBack}" action="{!cancel}"/>
	         </apex:pageBlockButtons>
	    </apex:pageBlock>
    </apex:form>
</apex:page>