<apex:page standardController="Apttus__APTS_Agreement__c" showHeader="false" sidebar="false" title="Clone Agreement" extensions="CNT_CPQ_ContractDetailsOnAgreement">
    <apex:includeLightning />
    <apex:slds />
    <head>
        <style>
           .contract_table .td_heading{
                text-align: right !important;
                width:13%;
                padding-left : 0px !important;
            }
            .contract_table{
                width: auto !important;
                white-space: normal;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .contract_table td{
                border-bottom: solid 1px lightgrey;
                font-size:12px;
                padding-bottom: 15px !important;
            }
        </style>
    </head>
    <table class="slds-table slds-table_cell-buffer contract_table">                        
        <tr>
            <td class="td_heading">Execution Plan Start Date</td>
            <td><apex:outputField value="{!contract.Execution_Plan_Start_Date__c}"/></td>                                                    
        </tr> 
        <tr>
            <td class="td_heading">Triaged to Analyst</td>
            <td><apex:outputField value="{!contract.Triaged_to_Analyst__c}"/> </td>                                                       
        </tr> 
        <tr>
            <td class="td_heading">Analyst Start Date</td>
            <td><apex:outputField value="{!contract.Analyst_Start_Date__c}"/></td>                                                       
        </tr>
        <br/>
        <tr>
            <td class="td_heading">Start Draft Budget</td>
            <td><apex:outputField value="{!contract.Start_1st_Draft_Budget__c}"/></td>                                                       
        </tr>
        <tr>
            <td class="td_heading">Send Draft Budget to Internal Team</td>
            <td><apex:outputField value="{!contract.Send_Draft_Budget_to_Internal_Team__c}"/></td>                                                       
        </tr>
        <tr>
            <td class="td_heading">Receive Draft Budget from Internal Team</td>
            <td><apex:outputField value="{!contract.Receive_Draft_Budget_from_Internal_Team__c}"/></td>                                                      
        </tr>
        <tr>
            <td class="td_heading">Expect Internal Budget Approval</td>
            <td><apex:outputField value="{!contract.Expected_Internal_Budget_Approval__c}"/></td>                                                    
        </tr>
        <tr>
            <td class="td_heading">Send Budget to Customer for Review</td>
            <td><apex:outputField value="{!contract.Send_Budget_to_Customer_for_Review__c}"/></td>                                                       
        </tr>
        <tr>
            <td class="td_heading">Receive Customer Budget Comments</td>
            <td><apex:outputField value="{!contract.Receive_Customer_Budget_Comments__c}"/></td>                                                     
        </tr>
        <tr>
            <td class="td_heading">Receive Budget Approval By Customer</td>
            <td><apex:outputField value="{!contract.Receive_Budget_Approval_by_Customer__c}"/></td>                                                      
        </tr>
        <apex:outputpanel layout="none" rendered="{!Apttus__APTS_Agreement__c.RecordType.Name != 'FDTN – CNF'}">
            <tr>
                <td class="td_heading">Start Draft Contract</td>
                <td><apex:outputField value="{!contract.Start_1st_Draft_Contract__c}"/></td>                                                     
            </tr>
            <tr>
                <td class="td_heading">Send Draft Contract to Internal Team</td>
                <td><apex:outputField value="{!contract.Send_Draft_Contract_to_Internal_Team__c}"/></td>                                                     
            </tr>
            <tr>
                <td class="td_heading">Receive Draft Contract from Internal</td>
                <td><apex:outputField value="{!contract.Receive_Draft_Contract_from_Internal__c}"/></td>                                                     
            </tr>
            <tr>
                <td class="td_heading">Expected Internal Contract Approval</td>
                <td><apex:outputField value="{!contract.Expected_Internal_Contract_Approval__c}"/></td>                                                      
            </tr>
            <tr>
                <td class="td_heading">Send Contract to Customer</td>
                <td><apex:outputField value="{!contract.Send_Contract_to_Customer__c}"/></td>                                                    
            </tr>
            <tr>
                <td class="td_heading">Receive Customer Contract Comments</td>
                <td><apex:outputField value="{!contract.Receive_Customer_Contract_Comments__c}"/></td>                                                       
            </tr>
            <tr>
                <td class="td_heading">Receive Contract Approval By Customer</td>
                <td><apex:outputField value="{!contract.Receive_Contract_Approval_by_Customer__c}"/></td>                                                    
            </tr>
            <br/>
        </apex:outputpanel>
        <tr>
            <td class="td_heading">Planned Execution Date</td>
            <td><apex:outputField value="{!contract.Planned_Execution_Date__c}"/></td>                                                       
        </tr>
    </table>
</apex:page>