<apex:page standardController="Apttus__APTS_Agreement__c" showHeader="false" sidebar="false" title="Clone Agreement" extensions="CNT_CPQ_ContractDetailsOnAgreement">
    <apex:includeLightning />
    <apex:slds />
    <head>
        <style>
           .contract_table .td_heading{
                text-align: right !important;
                width:13%;
                padding-left : 0px !important;
            }
            .contract_table{
                width: auto !important;
                white-space: normal;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .contract_table td{
                border-bottom: solid 1px lightgrey;
                font-size:12px;
                padding-bottom: 15px !important;
            }
        </style>
    </head>
    <table class="slds-m-left_small slds-table slds-table_cell-buffer contract_table">
        <tr class="slds-p-top_medium">
            <td class="td_heading">Update Contract Status</td>
            <td>{!contract.Update_Contract_Status__c}</td>
            <td class="td_heading">Company Signed By</td>
            <td><apex:outputField value="{!Contract.CustomerSignedId}"/></td>
        </tr>
        <apex:outputpanel layout="none" rendered="{!Apttus__APTS_Agreement__c.RecordType.Name != 'FDTN – CNF'}">
            <tr >
                <td class="td_heading">Contract Start Date</td>
                <td><apex:outputField value="{!contract.StartDate}"/></td>
                <td class="td_heading">Other Company Signed By</td>
                <td>{!contract.Other_Company_Signed_By__c}</td>
            </tr>
            <tr >
                <td class="td_heading">Expiration Type</td>
                <td>{!contract.Expiration_Type__c}</td>
                <td class="td_heading">Company Signed Date</td>
                <td><apex:outputField value="{!contract.CompanySignedDate}"/></td>
            </tr>
            <tr >
                <td class="td_heading">Contract End Date</td>
                <td><apex:outputField value="{!Contract.EndDate}"/></td>
                <td class="td_heading">Customer Signed By</td>
                <td><apex:outputField value="{!Contract.CustomerSignedId}"/></td>
            </tr>
            <tr >
                <td class="td_heading">Date executed (signed) contract received</td>
                <td><apex:outputField value="{!Contract.Date_executed_signed_contract_received__c}"/></td>
                <td class="td_heading">Other Customer Signed By</td>
                <td>{!contract.Other_Customer_Signed_By__c}</td>
            </tr>
            <tr >
                <td class="td_heading">Owner Expiration Notice</td>
                <td>{!contract.OwnerExpirationNotice}</td>
                <td class="td_heading">Customer Signed Title</td>
                <td>{!contract.CustomerSignedTitle}</td>
            </tr>
        </apex:outputpanel>
        <tr >
            <td class="td_heading">Status Comments</td>
            <td>{!contract.Status_Comments__c}</td>
            <td class="td_heading">Customer Signed Date</td>
            <td><apex:outputField value="{!Contract.CustomerSignedDate}"/></td>
        </tr>
        <apex:outputpanel layout="none" rendered="{!Apttus__APTS_Agreement__c.RecordType.Name != 'FDTN – CNF'}">
            <tr>
                <td class="td_heading">Original signed agreement location</td>
                <td>{!contract.Original_signed_agreement_location__c}</td>
                <td></td>
                <td></td>
            </tr>
        </apex:outputpanel>
        <tr >
            <td class="td_heading">Contracts Assistance Comment</td>
            <td>{!contract.Contracts_Assistance_Comment__c}</td>
            <td></td>
            <td></td>
        </tr>
        <apex:outputpanel layout="none" rendered="{!Apttus__APTS_Agreement__c.RecordType.Name == 'FDTN – CNF'}">
            <td class="td_heading">Triage Comments</td>
            <td>{!contract.Triage_Comments__c}</td>
            <td></td>
            <td></td>
        </apex:outputpanel>
    </table>
</apex:page>