<apex:page controller="CNT_CSM_CallcenterInboundPopup" lightningStylesheets="false">
    <apex:slds />
    <script>
    function changeValue(input, textid) {
        document.getElementById(textid).value = input.value;
    }   
    </script>
    <c:VFC_CSM_CallcenterGreatings greetingText="{!greetingText}"/>
    
    <div class="slds-box">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_11-of-12"/>
            <div class="slds-col slds-size_1-of-12">
                <apex:form >
                    <apex:outputPanel rendered="{!recordTypes.size > 1}">
                    <apex:commandButton styleClass="slds-button slds-button_neutral" onkeypress="" action="{!displayPopUpModel}" value="Create Case"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!recordTypes.size==1}">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!createCase}" value="Create Case"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!displayPopUp}">
                        <div class="demo-only" style="height: 640px;">
                            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container">
                                    <header class="slds-modal__header">
                                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#close" />
                                            </svg>
                                            <span class="slds-assistive-text">Close</span>
                                        </button>
                                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Record Type</h2>
                                    </header>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                        <div class="slds-form-element">
                                            <div class="slds-form-element__control">
                                                <apex:repeat var="record" value="{!recordTypes}">
                                                    <span class="slds-radio">
                                                        <input type="radio" id="{!record.value}" value="{!record.value}" checked="{!record.checked}" name="options" onclick="changeValue(this,'{!$Component.RadioButtonValue}');"/>
                                                        <label class="slds-radio__label" for="{!record.value}">
                                                            <span class="slds-radio_faux"></span>
                                                            <span class="slds-form-element__label">{!record.label}</span>
                                                        </label>
                                                    </span>
                                                </apex:repeat>
                                            </div>
                                        </div>
                                        <apex:inputHidden value="{!selectedRecord}" id="RadioButtonValue" />
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!closePopUpModel}" value="Cancel"/>
                                        <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!createCase}" value="Next"/>
                                    </footer>
                                </div>
                            </section>
                            <div class="slds-backdrop slds-backdrop_open"></div>
                        </div>
                    </apex:outputPanel>
                </apex:form>
            </div>
        </div>
    </div>
    <c:VFC_CSM_CallcenterContactDetails contacts="{!contacts}"/>
    <c:VFC_CSM_CallcenterCaseList cases="{!cases}"/>
    
    
</apex:page>