<apex:page Controller="CNT_CPQ_XaeAppController" showHeader="false" standardStylesheets="false" sidebar="false">
    <script>
        window.onload = function () {

            var parentId = "{!$CurrentPage.parameters.Id}";
            var hostUrl = "{!$CurrentPage.parameters.url}";
            var appId = "{!appId}"
            var sessionId = '{!GETSESSIONID()}';
            var urlVal = ('xauthorforexcel:export '+ appId + ' ' + parentId + ' ' + sessionId + ' ' + hostUrl);
            window.location= "/"+parentId;
            window.top.location.href =urlVal;

        }
    </script>
</apex:page>
