<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="CNT_CPQ_BoxIntegration">
    <apex:stylesheet value="{!$Resource.box__BoxStyle}" /> 
    <apex:iframe src="https://www.box.com/widget_sso/salesforce?token=%7B%22server_url%22%3A%22{!URLENCODE($Api.Partner_Server_URL_120)}%22%2C%22session_id%22%3A%22{!URLENCODE($Api.Session_ID)}%22%7D&salesforce_object_typed_id={!$CurrentPage.parameters.Id}&partner_object_type=Apttus__APTS_Agreement__c&partner_object_name={!URLENCODE(boxName)}&{&partner_object_email=&partner_object_id={!$CurrentPage.parameters.Id}&open_new_window=1&partner_user_id={!URLENCODE($User.Id)}&partner_user_name={!URLENCODE($User.FirstName)}%20{!URLENCODE($User.LastName)}&partner_user_email={!URLENCODE($User.Email)}&email_recipients=&debug=0" width="100%" height="200px" scrolling="true" id="theIframe"/> 
</apex:page>