.THIS .slds-icon-standard-case { 
    background-color: #065280; 
}

.THIS .slds-icon-standard-goals {
    background-color: #28a745;
}

.THIS .slds-dl_horizontal__detail, .THIS .slds-dl--horizontal__detail {
    width: 60%;
}

.THIS .slds-dl_horizontal__label, .THIS .slds-dl--horizontal__label {
    width: 40%;
    padding-right: .75rem;
}

.THIS .slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__label {
    width: 40%;
    padding-right: .75rem;
}

.THIS .slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__detail{
    width: 60%;
}