.THIS .favoriteIconSelected {
    color : gold;
}
.THIS .favoriteIcon {
    color : gray;
}
.THIS .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox__label .slds-checkbox--faux:after {
    border-color: #4286f4 !Important;
}
.THIS .setMaxWith {
    max-width: 400px;
}