<!--
Author        : Vikram Singh Fartyal
Description   : This component is used to handle access and announcements in case of CDA system down.(created under CR-11526 on 15/01/2018)
-->
<apex:component >
    <script src="{!$Resource.CDAJQuery}" type="text/javascript"></script>   <!-- *** Jquery library reference *** -->
    <script src="{!URLFOR($Resource.CDACustomPopup, 'popup.js')}" type="text/javascript"></script>    <!-- *** JQuery Custom Popup Library reference *** -->
    <link href="{!URLFOR($Resource.CDACustomPopup, 'popup.css')}" rel="stylesheet"/>    <!-- *** JQuery Custom Popup Stylesheet reference *** -->

    <script type="text/javascript">
        jQuery.noConflict();
    </script>
    <script>
        $(document).ready(function () {
            if('{!$Setup.CDA_Settings__c.Is_Show_CDA_System_Down_Msg__c}' == 'true'){
                popup('{!$Label.CDA_System_Downtime_Message}', {
                    'animate': true
                });
                $.each($(".aButtons button"), function(k, v){
                    if($(v).text() == 'Ok') {
                        if('{!$Setup.CDA_Settings__c.Is_CDA_System_Down__c}' == 'true' && '{!$CurrentPage.parameters.qatesting}' != 'true') {
                            $(v).hide();
                        }
                    }
                });
            }
        });
    </script>
</apex:component>