.THIS .qc_check_table th{
    white-space: normal !important;
    width: 22%;
}
.THIS .qc_check_table td{
    white-space: normal !important;
}
.THIS .qc_check_table td .slds-textarea{
	resize: none !important;
}
.THIS .qc_check_table td .slds-button{
    color: #c53c3c !important;
}
.THIS .qc_check_table .errorMessage{
    color: red;
    font-weight: bold;
}
.THIS .qc_check_table th.select_list_th{
    width: 12% !important;
}