.THIS .slds-icon-standard-case {
    background-color: #065280;
}

.THIS textarea {
    height: 11.90rem;
}

.THIS .slds-inline_icon_text {
    background-color: #f4f6f9;
    color: #706e6b;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
}

.THIS .mail-cc_list textarea {
    height: 2.90rem;
}

/*PEP Changed the left margin to adjust popover against text*/
.THIS .popover {
    position: absolute;
    left: 14%;
    bottom: 65%;
}